$round-length: 2rem;
$round-rect-radius: .4rem;
$round-rect-padding: .4rem .6rem;

@mixin round(
  $length: $round-length
) {
  width: $length;
  height: $length;
  border-radius: 50%;
}

@mixin round-rect(
  $radius: $round-rect-radius,
  $padding: $round-rect-padding
) {
  padding: $padding;
  border-radius: $radius;
}