{
    "env": {
        "browser": true,
        "jquery": true,
        "node": true
    },
    "rules": {
        "no-console": "error",
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "comma-dangle": ["error", "never"],
        "block-scoped-var": "error",
        "default-case": "error",
        "no-extra-bind": "error",
        "camelcase": "error",
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "eol-last": ["error", "always"]
    },
    "extends": ["eslint:recommended"]
}
