---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "settings/base",
    "settings/colors",
    "settings/font",

    "mixins/media",
    "mixins/link",

    "base/base",
    "base/text",
    "base/image&icon",
    "base/links",
    "base/animate",

    "components/wrapper",
    "components/follow-me",

    "home/page.home"
;
