{%- assign _excerpt_truncate = include.excerpt_truncate | default: 350 -%}

{%- assign _excerpt_type = include.excerpt_type | default: site.data.variables.default.excerpt_type  -%}

{%- assign _sorted_list = include.articles -%}
{%- if include.group_by == 'year' -%}
  {%- assign _sorted_list = _sorted_list | sort: 'date' -%}
{%- endif -%}
{%- if include.reverse -%}
  {%- assign _sorted_list = _sorted_list | reverse -%}
{%- endif -%}

{%- if include.type == 'common' -%}
<div class="items items--divided">
{%- elsif include.type == 'brief' -%}
<div class="items items--brief">
{%- endif -%}

  {%- for _article in _sorted_list -%}

    {%- include snippets/prepend-baseurl.html path=_article.url -%}
    {%- assign _href = __return -%}

    {%- include snippets/locale-to-string.html locale=site.data.locale.READMORE -%}
    {%- assign _locale_readmore = __return -%}

    {%- if include.type == 'common' -%}
      <article class="item" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="item__content">
          <header><h2 itemprop="headline" class="item__header"><a href="{{ _href }}">{{ _article.title }}</a></h2></header>
          <div class="item__description">
            {%- if _article.excerpt and include.show_excerpt -%}
              <div class="article__content" itemprop="description articleBody">
                {%- if _excerpt_type == 'html' -%}
                  {{ _article.excerpt }}
                {%- else -%}
                  {{ _article.excerpt | strip_html | truncate: _excerpt_truncate }}
                {%- endif -%}
              </div>
            {%- endif -%}
            <p><a href="{{ _href }}">{{ _locale_readmore }}</a></p>
          </div>
          {%- include article-info.html article=_article show_pageview=true -%}
        </div>
      </article>


    {%- elsif include.type == 'brief' -%}
      {%- assign _tags = '' -%}
      {%- for _tag in _article.tags -%}
        {%- assign _tag_encode = _tag | strip | url_encode } -%}
        {%- if forloop.last -%}
          {%- assign _tags = _tags | append: _tag_encode -%}
        {%- else -%}
          {%- assign _tags = _tags | append: _tag_encode | append: ',' -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if include.group_by == 'year' -%}
        {%- assign _currentdate = _article.date | date: '%Y' -%}
        {%- if _currentdate != _date -%}
          {%- unless forloop.first -%}</ul></section>{%- endunless -%}
          <section><h2>{{ _currentdate }}</h2><ul>
          {%- assign _date = _currentdate -%}
        {%- endif -%}
      {%- endif -%}
      {%- include snippets/locale-to-string.html locale=site.data.locale.ARTICLE_LIST_DATE_FORMAT -%}
      <li class="item" itemscope itemtype="http://schema.org/BlogPosting" data-tags="{{ _tags }}">
        <div class="item__content"><span class="item__meta">{{ _article.date | date: __return }}</span><a itemprop="headline" class="item__header" href="{{ _href }}">{{ _article.title }}</a></div>
      </li>
    {%- endif -%}

  {%- endfor -%}
</div>