<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
{%- include snippets/page-title.html -%}
<title>{%- if __return -%}{{ __return }} - {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
<meta name="description" content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}">
<link rel="canonical" href="{%- include snippets/page-url.html -%}">
{%- assign __path = '/feed.xml' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ __return | prepend: site.url }}">
<!-- for Safari on iOS https://developer.apple.com/ios/human-interface-guidelines/icons-and-images/app-icon/ -->
{%- assign __path = '/assets/images/logo/icon-180x180.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="apple-touch-icon" sizes="180x180" href="{{ __return }}">
{%- assign __path = '/assets/images/logo/icon-167x167.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="apple-touch-icon" sizes="167x167" href="{{ __return }}">
{%- assign __path = '/assets/images/logo/icon-152x152.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="apple-touch-icon" sizes="152x152" href="{{ __return }}">
{%- assign __path = '/assets/images/logo/icon-120x120.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="apple-touch-icon" sizes="120x120" href="{{ __return }}">
{%- assign __path = '/assets/images/logo/icon-120x120.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="shortcut icon" href="{{ __return }}">
<!-- for Chrome on Android https://developer.chrome.com/multidevice/android/installtohomescreen -->
<meta name="mobile-web-app-capable" content="yes">
{%- assign __path = '/assets/images/logo/icon-192x192.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="icon" sizes="192x192" href="{{ __return }}">
<!-- for Edge on Windows 10 https://msdn.microsoft.com/en-us/library/dn255024(v=vs.85).aspx -->
{%- assign __path = '/assets/images/logo/icon-144x144.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<meta name="msapplication-TileImage" content="{{ __return }}">
{%- assign __path = '/assets/images/logo/icon-310x310.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<meta name="msapplication-square310x310logo" content="{{ __return }}">
{%- assign __path = '/assets/images/logo/icon-310x150.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<meta name="msapplication-wide310x150logo" content="{{ __return }}">
{%- assign __path = '/assets/images/logo/icon-150x150.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<meta name="msapplication-square150x150logo" content="{{ __return }}">
{%- assign __path = '/assets/images/logo/icon-70x70.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<meta name="msapplication-square70x70logo" content="{{ __return }}">
<meta name="msapplication-TileColor" content="#eeeeee">
