<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
{%- include snippets/page-title.html -%}
<title>{%- if __return -%}{{ __return }} - {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
<meta name="description" content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}">
<link rel="canonical" href="{%- include snippets/page-url.html -%}">
{%- assign __path = '/feed.xml' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ __return | prepend: site.url }}">

<!-- begin favicon -->
{%- assign __path = '/assets/apple-touch-icon.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="apple-touch-icon" sizes="180x180" href="{{ __return }}">
{%- assign __path = '/assets/favicon-32x32.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="icon" type="image/png" sizes="32x32" href="{{ __return }}">
{%- assign __path = '/assets/favicon-16x16.png' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="icon" type="image/png" sizes="16x16" href="{{ __return }}">
{%- assign __path = '/assets/site.webmanifest' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="manifest" href="{{ __return }}">
{%- assign __path = '/assets/safari-pinned-tab.svg' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="mask-icon" href="{{ __return }}" color="#fc4d50">
{%- assign __path = '/assets/favicon.ico' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="shortcut icon" href="{{ __return }}">
<meta name="msapplication-TileColor" content="#ffc40d">
{%- assign __path = '/assets/browserconfig.xml' -%}
{%- include snippets/prepend-baseurl.html -%}
<meta name="msapplication-config" content="{{ __return }}">
<meta name="theme-color" content="#ffffff">
<!-- end favicon -->

{%- assign __path = '/assets/css/main.css' -%}
{%- include snippets/prepend-baseurl.html -%}
<link rel="stylesheet" href="{{ __return }}">
{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
<link rel="stylesheet" href="{{ _sources.font_awesome }}" >
