<!--
    for Safari on iOS
    https://developer.apple.com/ios/human-interface-guidelines/icons-and-images/app-icon/
-->
<link rel="apple-touch-icon" sizes="180x180" href="/statics/images/logo/icon-180x180.png">
<link rel="apple-touch-icon" sizes="167x167" href="/statics/images/logo/icon-167x167.png">
<link rel="apple-touch-icon" sizes="152x152" href="/statics/images/logo/icon-152x152.png">
<link rel="apple-touch-icon" sizes="120x120" href="/statics/images/logo/icon-120x120.png">
<link rel="shortcut icon" href="/statics/images/logo/icon-120x120.png">
<!--
    for Chrome on Android
    https://developer.chrome.com/multidevice/android/installtohomescreen
-->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="/statics/images/logo/icon-192x192.png">
<!--
    for Edge on Windows 10
    https://msdn.microsoft.com/en-us/library/dn255024(v=vs.85).aspx
-->
<meta name="msapplication-TileImage" content="/statics/images/logo/icon-144x144.png">
<meta name="msapplication-square310x310logo" content="/statics/images/icon-310x310.png">
<meta name="msapplication-wide310x150logo" content="/statics/images/icon-310x150.png">
<meta name="msapplication-square150x150logo" content="/statics/images/icon-150x150.png">
<meta name="msapplication-square70x70logo" content="/statics/images/icon-70x70.png">
<meta name="msapplication-TileColor" content="#eeeeee">