{%- include snippets/assign.html target=site.data.variables.default.chart source0=site.chart -%}
{%- include snippets/assign.html target=__return source0=page.chart -%}

{%- if __return == true -%}
  {%- include markdown-enhancements/chart.html -%}
{%- endif -%}

{%- include snippets/assign.html target=site.data.variables.default.mathjax source0=site.mathjax -%}
{%- include snippets/assign.html target=__return source0=page.mathjax -%}

{%- if __return == true -%}
  {%- include markdown-enhancements/mathjax.html -%}
{%- endif -%}

{%- include snippets/assign.html target=site.data.variables.default.mermaid source0=site.mermaid -%}
{%- include snippets/assign.html target=__return source0=page.mermaid -%}

{%- if __return == true -%}
  {%- include markdown-enhancements/mermaid.html -%}
{%- endif -%}