{%- assign __target = site.chart -%}
{%- assign __source = page.chart -%}
{%- include snippets/assign.html -%}
{%- if __return == true -%}
  {%- include markdown-enhancements/chart.html -%}
{%- endif -%}

{%- assign __target = site.mathjax -%}
{%- assign __source = page.mathjax -%}
{%- include snippets/assign.html -%}
{%- if __return == true -%}
  {%- include markdown-enhancements/mathjax.html -%}
{%- endif -%}

{%- assign __target = site.mermaid -%}
{%- assign __source = page.mermaid -%}
{%- include snippets/assign.html -%}
{%- if __return == true -%}
  {%- include markdown-enhancements/mermaid.html -%}
{%- endif -%}