<div class="sidebar">
  {%- assign list = site.data.navigation[page.sidebar.nav] -%}
  {%- if list -%}
  <ul class="toc toc--navigator">
    {%- for item in list -%}
      <li class="toc-h1">{{ item.title }}</li>
      {%- assign children = item.children -%}
      {%- if children -%}
        {%- for child in children -%}
          {%- assign __path = child.url -%}
          {%- include snippets/get-nav-url.html -%}
          <li class="toc-h2"><a href="{{ __return }}">{{ child.title }}</a></li>
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
    </ul>
  {%- endif -%}
</div>