<div class="m-article-data clearfix">
	{%- if page -%}
    <meta itemprop="author" itemscope itemtype="https://schema.org/Person">
      {%- if page.author -%}
        <meta itemprop="name" content="{{ page.author }}"/>
      {%- elsif site.author.name -%}
        <meta itemprop="name" content="{{ site.author.name }}"/>
      {%- endif -%}
    </meta>
	{%- endif -%}

	{%- if post -%}
    {%- assign cur_page = post -%}
    {%- elsif page -%}
    {%- assign cur_page = page -%}
	{%- endif -%}
	{%- if cur_page.tags[0] -%}
    <ul class="inline-list tag-wrapper">
      {%- if site.paths.all -%}
        {%- assign all_path = site.paths.all -%}
      {%- else -%}
        {%- assign all_path = '/all.html' -%}
      {%- endif -%}
      {%- for tag in cur_page.tags -%}
        {%- assign _tag = tag | strip | url_encode } -%}
        {%- assign __path = all_path | append: '?tag=' -%}
        {%- include snippets/prepend-baseurl.html -%}
        <li>
          <a class="round-rect-button" href="{{ __return | append: _tag | replace: '//', '/' }}">{{ tag }}</a>
        </li>
      {%- endfor -%}
    </ul>
	{%- endif -%}
  <div class="other-wrapper">
    {%- if site.leancloud.app_id and site.leancloud.app_key and site.leancloud.app_class -%}
      <div class="view-wrapper">
        <span class="article-view" id="post-key-{{ cur_page.key }}">0
        </span> views
      </div>
    {%- endif -%}
    <div class="date-wrapper">
      {%- assign __locale = site.data.locale.ARTICLE_DATE_FORMAT } -%}
      {%- include snippets/locale-to-string.html -%}
      {%- if post -%}
        <span class="article-meta">{{ post.date | date: __return }}</span>
      {%- elsif page -%}
        <time class="article-meta" datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished">{{ page.date | date: __return }}
        </time>
      {%- endif -%}
    </div>
  </div>
</div>
