<header class="m-page-header main clearfix">
    <a class="site-title" title="{% if site.description %}{{ site.description }}{% endif %}"
        href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">{% if site.title %}{{ site.title }}{% endif %}
    </a>
    <div class="site-logo">
        {% include logo/logo.svg %}
    </div>
    <nav>
        <ul class="inline-list">
            {% assign __locale = site.data.locale.PAGES.HOME %}
            {% include snippets/locale-to-string.html %}
            <li><a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">{{ __return }}</a></li>
            {% assign __locale = site.data.locale.PAGES.ALL %}
            {% include snippets/locale-to-string.html %}
            <li><a href="{{ "/all.html" | prepend: site.baseurl | append: "?tag=" | replace: '//', '/'}}">{{ __return }}</a></li>
            {% for list in site.nav_lists %}
                <li><a href="{{ list.url }}"> {{ list.title }} </a></li>
            {% endfor %}
            {% assign __locale = site.data.locale.PAGES.RSS %}
            {% include snippets/locale-to-string.html %}
            <li><a type="application/rss+xml" href="{{ "/feed.xml" | prepend: site.baseurl | replace: '//', '/'}}">{{ __return }}</a></li>
        </ul>
    </nav>
</header>
