<header class="m-page-header main clearfix">
  {%- if site.paths.base -%}
    {%- assign __path = site.paths.base -%}
  {%- else -%}
    {%- assign __path = '/' -%}
  {%- endif -%}
  {%- include snippets/get-nav-url.html -%}
  {%- if site.title -%}
    <a class="site-title" title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">{{ site.title }}</a>
  {%- endif -%}
  <div class="site-logo">
    {%- include logo/logo.svg -%}
  </div>
  <nav>
    <ul class="inline-list">
      {%- if site.paths.home -%}
        {%- assign __path = site.paths.home -%}
      {%- else -%}
        {%- assign __path = '/' -%}
      {%- endif -%}
      {%- include snippets/get-nav-url.html -%}
      {%- assign href = __return -%}
      {%- assign __locale = site.data.locale.NAV.HOME -%}
      {%- include snippets/locale-to-string.html -%}
      <li><a href="{{ href }}">{{ __return }}</a></li>
      {%- if site.paths.all -%}
        {%- assign __path = site.paths.all -%}
      {%- else -%}
        {%- assign __path = '/all.html' -%}
      {%- endif -%}
      {%- include snippets/get-nav-url.html -%}
      {%- assign href = __return -%}
      {%- assign __locale = site.data.locale.NAV.ALL -%}
      {%- include snippets/locale-to-string.html -%}
      <li><a href="{{ href }}">{{ __return }}</a></li>
      {%- for list in site.nav_lists -%}
        {%- assign __path = list.url -%}
        {%- include snippets/get-nav-url.html -%}
        {%- assign href = __return -%}
        {%- assign __locale = list.titles -%}
        {%- include snippets/locale-to-string.html -%}
        <li><a href="{{ href }}">{%- if list.title -%}{{ list.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
      {%- endfor -%}
      {%- if site.paths.rss -%}
        {%- assign __path = site.paths.rss -%}
      {%- else -%}
        {%- assign __path = '/feed.xml' -%}
      {%- endif -%}
      {%- include snippets/get-nav-url.html -%}
      {%- assign href = __return -%}
      {%- assign __locale = site.data.locale.NAV.RSS -%}
      {%- include snippets/locale-to-string.html -%}
      <li><a type="application/rss+xml" href="{{ href }}">{{ __return }}</a></li>
    </ul>
  </nav>
</header>
