{% assign locale = site.data.locale %}
<div class="m-license">
    <div class="clearfix">
        {% if site.repository and site.repository_tree %}
            <a class="octocat" href="https://github.com/{{ site.repository }}/tree/{{ site.repository_tree }}/{{ page.path }}">
                <img alt="View on Github" src="{{ "/assets/images/octocat.jpg" | prepend: site.baseurl | replace: '//', '/'}}" />
            </a>
            <p><a href="https://github.com/{{ site.repository }}/tree/{{ site.repository_tree }}/{{ page.path }}">
            {% if locale.POST_ON_GITHUB[site.lang] %}{{ locale.POST_ON_GITHUB[site.lang] }}{% else %}{{ locale.POST_ON_GITHUB.en }}{% endif %}</a></p>
        {% endif %}
            {% assign LICENSE_ANNOUNCE = '' %}
        {% if locale.LICENSE_ANNOUNCE[site.lang] %}{% assign LICENSE_ANNOUNCE = locale.LICENSE_ANNOUNCE[site.lang] %}{% else %}{% assign LICENSE_ANNOUNCE = locale.LICENSE_ANNOUNCE.en %}{% endif %}</p>
        <p>{{ LICENSE_ANNOUNCE | replace: "[LICENSE]", '<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC-4.0</a>' }}</p>
        <a class="license" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
            <img alt="Creative Commons License" src="{{ '/assets/images/license-cc4.png' | prepend: site.baseurl  | replace: '//', '/'}}" />
        </a>
        <p>{% if locale.LICENSE_INTRO[site.lang] %}{{ locale.LICENSE_INTRO[site.lang] }}{% else %}{{ locale.LICENSE_INTRO.en }}{% endif %}</p>
    </div>
</div>