<div class="m-license">
  {%- assign locale = site.data.locale -%}
  <div class="clearfix">
    {%- if site.repository and site.repository_tree -%}
      {%- assign __path = '/assets/images/octocat.jpg' -%}
      {%- include snippets/prepend-baseurl.html -%}
      <a class="octocat" href="https://github.com/{{ site.repository }}/tree/{{ site.repository_tree }}/{{ page.path }}">
        <img alt="View on Github" src="{{ __return }}" />
      </a>
      {%- assign __locale = locale.POST_ON_GITHUB -%}
      {%- include snippets/locale-to-string.html -%}
      <p><a href="https://github.com/{{ site.repository }}/tree/{{ site.repository_tree }}/{{ page.path }}">{{ __return }}</a></p>
    {%- endif -%}
    {%- assign __locale = locale.LICENSE_ANNOUNCE -%}
    {%- include snippets/locale-to-string.html -%}
    <p>{{ __return | replace: "[LICENSE]", '<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC-4.0</a>' }}</p>
    {%- assign __path = '/assets/images/license-cc4.png' -%}
    {%- include snippets/prepend-baseurl.html -%}
    <a class="license" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
      <img alt="Creative Commons License" src="{{ __return }}" />
    </a>
    {%- assign __locale = locale.LICENSE_INTRO -%}
    {%- include snippets/locale-to-string.html -%}
    <p>{{ __return }}</p>
  </div>
</div>