{%- if site.analytics.owa.owa_url -%}
<script type="text/javascript">
  //<![CDATA[
  var owa_baseUrl = '{{ site.analytics.owa.owa_url }}/';
  var owa_cmds = owa_cmds || [];
  owa_cmds.push(['setSiteId', '{{ site.analytics.owa.site_id }}']);
  owa_cmds.push(['trackPageView']);
  owa_cmds.push(['trackClicks']);
  owa_cmds.push(['trackDomStream']);
  
  (function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
  }());
  //]]>
  </script>
{%- endif -%}