.hidden{
    display: none;
}

img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:95%;
    }

  body{
    color: white;
    border: 100px;
    align-items: center;
    overflow: hidden;
    display: flex; 
     flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
  }

  .center{
position: absolute;
left: 2%;
/* font-size: 30px; */
}


  #clock{
    font-size: 80px;
    position: relative;
    
  }
  

  #quote{
    position: absolute;
    /* left: 33%; */
    bottom: 5%;
    
    text-align: center;
    /* text-align: center; */
  }

  #todo-list{
    position: fixed;
    text-align: center;
  } 


/* #greeting{
  text-align: center;
}
#todo-form{
  text-align: center;
}
#todo-list{
  text-align: center;
} */
/* #center{
  text-align: center;
}