---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
    "colors/{{ site.text_color_theme | default: site.data.variables.default.text_color_theme }}",
    // "colors/chocolate",
    // "colors/dark",
    // "colors/default",
    // "colors/forest",
    // "colors/ocean",
    // "colors/orange",

    "common/variables",
    "common/highlighting",
    "common/classes",
    "common/reset",
    "common/components/button",
    "common/components/menu",
    "common/components/card",
    "common/components/toc",

    "animate/fade-in",
    "animate/fade-in-down",

    "components/main",
    "components/header",
    "components/article.info",
    "components/article.content",
    "components/tags",
    "components/follow-me",
    "components/license",
    "components/footer",

    "additional/alert",
    "additional/photo-frame",

    "layout/page",
    "layout/home",
    "layout/all",
    "layout/article",
    "layout/404"
;
