/**
 * Syntax highlighting styles
 */
.highlight .c {
  color: #998;
  font-style: italic; }
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }
.highlight .k {
  font-weight: bold; }
.highlight .o {
  font-weight: bold; }
.highlight .cm {
  color: #998;
  font-style: italic; }
.highlight .cp {
  color: #999;
  font-weight: bold; }
.highlight .c1 {
  color: #998;
  font-style: italic; }
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }
.highlight .gd {
  color: #000;
  background-color: #fdd; }
.highlight .gd .x {
  color: #000;
  background-color: #faa; }
.highlight .ge {
  font-style: italic; }
.highlight .gr {
  color: #a00; }
.highlight .gh {
  color: #999; }
.highlight .gi {
  color: #000;
  background-color: #dfd; }
.highlight .gi .x {
  color: #000;
  background-color: #afa; }
.highlight .go {
  color: #888; }
.highlight .gp {
  color: #555; }
.highlight .gs {
  font-weight: bold; }
.highlight .gu {
  color: #aaa; }
.highlight .gt {
  color: #a00; }
.highlight .kc {
  font-weight: bold; }
.highlight .kd {
  font-weight: bold; }
.highlight .kp {
  font-weight: bold; }
.highlight .kr {
  font-weight: bold; }
.highlight .kt {
  color: #458;
  font-weight: bold; }
.highlight .m {
  color: #099; }
.highlight .s {
  color: #d14; }
.highlight .na {
  color: #008080; }
.highlight .nb {
  color: #0086B3; }
.highlight .nc {
  color: #458;
  font-weight: bold; }
.highlight .no {
  color: #008080; }
.highlight .ni {
  color: #800080; }
.highlight .ne {
  color: #900;
  font-weight: bold; }
.highlight .nf {
  color: #900;
  font-weight: bold; }
.highlight .nn {
  color: #555; }
.highlight .nt {
  color: #000080; }
.highlight .nv {
  color: #008080; }
.highlight .ow {
  font-weight: bold; }
.highlight .w {
  color: #bbb; }
.highlight .mf {
  color: #099; }
.highlight .mh {
  color: #099; }
.highlight .mi {
  color: #099; }
.highlight .mo {
  color: #099; }
.highlight .sb {
  color: #d14; }
.highlight .sc {
  color: #d14; }
.highlight .sd {
  color: #d14; }
.highlight .s2 {
  color: #d14; }
.highlight .se {
  color: #d14; }
.highlight .sh {
  color: #d14; }
.highlight .si {
  color: #d14; }
.highlight .sx {
  color: #d14; }
.highlight .sr {
  color: #009926; }
.highlight .s1 {
  color: #d14; }
.highlight .ss {
  color: #990073; }
.highlight .bp {
  color: #999; }
.highlight .vc {
  color: #008080; }
.highlight .vg {
  color: #008080; }
.highlight .vi {
  color: #008080; }
.highlight .il {
  color: #099; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

*,
::before,
::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/**
 * 1. Prevent adjustments of font size after orientation changes in iOS.
 **/
html {
  height: 100%;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  /* 1 */ }

body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p,
hr, blockquote, figure, pre, .highlighter-rouge,
ul, ol, dl, table, .footnotes {
  margin: 0.5rem 0;
  padding: 0; }

body {
  height: 100%;
  font: 400 1rem/1.6 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff; }
  body ::-moz-selection {
    background: rgba(252, 77, 80, 0.5); }
  body ::-webkit-selection {
    background: rgba(252, 77, 80, 0.5); }
  body ::selection {
    background: rgba(252, 77, 80, 0.5); }

input, textarea, select, button {
  font: 400 1rem/1.6 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700; }

h1 {
  font-size: 2.3rem;
  color: #111; }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 1.8rem;
  color: #111; }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 1.5rem; } }

h3 {
  font-size: 1.5rem;
  color: #111; }
  @media screen and (max-width: 500px) {
    h3 {
      font-size: 1.35rem; } }

h4 {
  font-size: 1.2rem;
  color: #333; }
  @media screen and (max-width: 500px) {
    h4 {
      font-size: 1.15rem; } }

h5 {
  font-size: 1rem;
  color: #333; }

h6 {
  font-size: 1rem;
  color: #9c9c9c; }

a {
  font-weight: 700;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  a, a:link, a:visited {
    text-decoration: none; }
  .not-touch a.hover, .not-touch a:hover {
    text-decoration: underline; }
  a.active, a:active {
    text-decoration: underline; }
  a, a:link, a:visited {
    color: #fc4d50; }
    a svg path, a:link svg path, a:visited svg path {
      fill: #fc4d50; }
  .not-touch a.hover, .not-touch a:hover {
    color: #fc4d50; }
    .not-touch a.hover svg path, .not-touch a:hover svg path {
      fill: #fc4d50; }
  a.active, a:active {
    color: #fc4d50; }
    a.active svg path, a:active svg path {
      fill: #fc4d50; }

pre, code {
  font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace; }

code {
  font-size: 0.8rem;
  line-height: 1.4; }

figure > img {
  display: block; }

figcaption {
  font-size: 0.9rem; }

.icon {
  display: block; }
  .icon > svg {
    display: block; }

button {
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-width: 0; }

input::-ms-clear {
  display: none; }
input:focus {
  outline: none; }

.round-button, .floating-action-round-button, .pill-button, .m-all > .main > .m-search-box > .icon-clear {
  font-weight: 700;
  line-height: 1;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .round-button, .floating-action-round-button, .pill-button, .m-all > .main > .m-search-box > .icon-clear, .round-button:link, .floating-action-round-button:link, .pill-button:link, .m-all > .main > .m-search-box > .icon-clear:link, .round-button:visited, .floating-action-round-button:visited, .pill-button:visited, .m-all > .main > .m-search-box > .icon-clear:visited {
    text-decoration: none; }
  .not-touch .hover.round-button, .not-touch .hover.floating-action-round-button, .not-touch .hover.pill-button, .not-touch .m-all > .main > .m-search-box > .hover.icon-clear, .not-touch .round-button:hover, .not-touch .floating-action-round-button:hover, .not-touch .pill-button:hover, .not-touch .m-all > .main > .m-search-box > .icon-clear:hover, .hover.round-button, .hover.floating-action-round-button, .hover.pill-button, .m-all > .main > .m-search-box > .hover.icon-clear, .round-button:hover, .floating-action-round-button:hover, .pill-button:hover, .m-all > .main > .m-search-box > .icon-clear:hover {
    text-decoration: none; }
  .active.round-button, .active.floating-action-round-button, .active.pill-button, .m-all > .main > .m-search-box > .active.icon-clear, .round-button:active, .floating-action-round-button:active, .pill-button:active, .m-all > .main > .m-search-box > .icon-clear:active {
    text-decoration: none; }
  .focus.round-button, .focus.floating-action-round-button, .focus.pill-button, .m-all > .main > .m-search-box > .focus.icon-clear {
    text-decoration: none; }
  .round-button, .floating-action-round-button, .pill-button, .m-all > .main > .m-search-box > .icon-clear, .round-button:link, .floating-action-round-button:link, .pill-button:link, .m-all > .main > .m-search-box > .icon-clear:link, .round-button:visited, .floating-action-round-button:visited, .pill-button:visited, .m-all > .main > .m-search-box > .icon-clear:visited {
    color: #333;
    background-color: #f2f2f2; }
    .round-button svg path, .floating-action-round-button svg path, .pill-button svg path, .m-all > .main > .m-search-box > .icon-clear svg path, .round-button:link svg path, .floating-action-round-button:link svg path, .pill-button:link svg path, .m-all > .main > .m-search-box > .icon-clear:link svg path, .round-button:visited svg path, .floating-action-round-button:visited svg path, .pill-button:visited svg path, .m-all > .main > .m-search-box > .icon-clear:visited svg path {
      fill: #333; }
  .not-touch .hover.round-button, .not-touch .hover.floating-action-round-button, .not-touch .hover.pill-button, .not-touch .m-all > .main > .m-search-box > .hover.icon-clear, .not-touch .round-button:hover, .not-touch .floating-action-round-button:hover, .not-touch .pill-button:hover, .not-touch .m-all > .main > .m-search-box > .icon-clear:hover {
    color: #fff;
    background-color: #fc4d50; }
    .not-touch .hover.round-button svg path, .not-touch .hover.floating-action-round-button svg path, .not-touch .hover.pill-button svg path, .not-touch .m-all > .main > .m-search-box > .hover.icon-clear svg path, .not-touch .round-button:hover svg path, .not-touch .floating-action-round-button:hover svg path, .not-touch .pill-button:hover svg path, .not-touch .m-all > .main > .m-search-box > .icon-clear:hover svg path {
      fill: #fff; }
  .active.round-button, .active.floating-action-round-button, .active.pill-button, .m-all > .main > .m-search-box > .active.icon-clear, .round-button:active, .floating-action-round-button:active, .pill-button:active, .m-all > .main > .m-search-box > .icon-clear:active {
    color: #fff;
    background-color: #fc4d50; }
    .active.round-button svg path, .active.floating-action-round-button svg path, .active.pill-button svg path, .m-all > .main > .m-search-box > .active.icon-clear svg path, .round-button:active svg path, .floating-action-round-button:active svg path, .pill-button:active svg path, .m-all > .main > .m-search-box > .icon-clear:active svg path {
      fill: #fff; }
  .round-button svg, .floating-action-round-button svg, .pill-button svg, .m-all > .main > .m-search-box > .icon-clear svg {
    width: 1rem;
    height: 1rem; }
    .round-button svg path, .floating-action-round-button svg path, .pill-button svg path, .m-all > .main > .m-search-box > .icon-clear svg path {
      -webkit-transition: all 0.6s ease;
      transition: all 0.6s ease; }
  .inactive.round-button, .inactive.floating-action-round-button, .inactive.pill-button, .m-all > .main > .m-search-box > .inactive.icon-clear {
    cursor: not-allowed; }
    .inactive.round-button, .inactive.floating-action-round-button, .inactive.pill-button, .m-all > .main > .m-search-box > .inactive.icon-clear, .inactive.round-button:link, .inactive.floating-action-round-button:link, .inactive.pill-button:link, .m-all > .main > .m-search-box > .inactive.icon-clear:link, .inactive.round-button:visited, .inactive.floating-action-round-button:visited, .inactive.pill-button:visited, .m-all > .main > .m-search-box > .inactive.icon-clear:visited {
      color: rgba(51, 51, 51, 0.2) !important;
      background-color: #f2f2f2 !important; }
      .inactive.round-button svg path, .inactive.floating-action-round-button svg path, .inactive.pill-button svg path, .m-all > .main > .m-search-box > .inactive.icon-clear svg path, .inactive.round-button:link svg path, .inactive.floating-action-round-button:link svg path, .inactive.pill-button:link svg path, .m-all > .main > .m-search-box > .inactive.icon-clear:link svg path, .inactive.round-button:visited svg path, .inactive.floating-action-round-button:visited svg path, .inactive.pill-button:visited svg path, .m-all > .main > .m-search-box > .inactive.icon-clear:visited svg path {
        fill: rgba(51, 51, 51, 0.2) !important; }
    .inactive.hover.round-button, .inactive.hover.floating-action-round-button, .inactive.hover.pill-button, .m-all > .main > .m-search-box > .inactive.hover.icon-clear, .inactive.round-button:hover, .inactive.floating-action-round-button:hover, .inactive.pill-button:hover, .m-all > .main > .m-search-box > .inactive.icon-clear:hover {
      color: rgba(51, 51, 51, 0.2) !important;
      background-color: #f2f2f2 !important; }
      .inactive.hover.round-button svg path, .inactive.hover.floating-action-round-button svg path, .inactive.hover.pill-button svg path, .m-all > .main > .m-search-box > .inactive.hover.icon-clear svg path, .inactive.round-button:hover svg path, .inactive.floating-action-round-button:hover svg path, .inactive.pill-button:hover svg path, .m-all > .main > .m-search-box > .inactive.icon-clear:hover svg path {
        fill: rgba(51, 51, 51, 0.2) !important; }
    .inactive.active.round-button, .inactive.active.floating-action-round-button, .inactive.active.pill-button, .m-all > .main > .m-search-box > .inactive.active.icon-clear, .inactive.round-button:active, .inactive.floating-action-round-button:active, .inactive.pill-button:active, .m-all > .main > .m-search-box > .inactive.icon-clear:active {
      color: rgba(51, 51, 51, 0.2) !important;
      background-color: #f2f2f2 !important; }
      .inactive.active.round-button svg path, .inactive.active.floating-action-round-button svg path, .inactive.active.pill-button svg path, .m-all > .main > .m-search-box > .inactive.active.icon-clear svg path, .inactive.round-button:active svg path, .inactive.floating-action-round-button:active svg path, .inactive.pill-button:active svg path, .m-all > .main > .m-search-box > .inactive.icon-clear:active svg path {
        fill: rgba(51, 51, 51, 0.2) !important; }

.floating-action-round-button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(0, 0, 0, 0.06), 0 2px 10px rgba(0, 0, 0, 0.2); }
  .floating-action-round-button:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 2px 8px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.25); }

.round-button, .floating-action-round-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.pill-button {
  padding: 0.4rem 0.6rem;
  border-radius: 2rem; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.main {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 850px; }
  @media screen and (max-width: 1024px) {
    .main {
      padding: 0 1rem; } }
  .main .main-header {
    margin-top: 2rem; }
    .main .main-header > h1 {
      font-weight: 700; }

.has-toc .main {
  max-width: 1070px; }
  @media screen and (max-width: 1024px) {
    .has-toc .main {
      max-width: 850px;
      padding: 0 1rem; } }

.m-page-header {
  background-color: #f2f2f2; }
  .m-page-header a {
    font-weight: 400; }
    .m-page-header a, .m-page-header a:link, .m-page-header a:visited {
      color: #333; }
      .m-page-header a svg path, .m-page-header a:link svg path, .m-page-header a:visited svg path {
        fill: #333; }
    .not-touch .m-page-header a.hover, .not-touch .m-page-header a:hover {
      color: #fc4d50; }
      .not-touch .m-page-header a.hover svg path, .not-touch .m-page-header a:hover svg path {
        fill: #fc4d50; }
    .m-page-header a.active, .m-page-header a:active {
      color: #fc4d50; }
      .m-page-header a.active svg path, .m-page-header a:active svg path {
        fill: #fc4d50; }
  .m-page-header > .main > .site-logo {
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 5rem; }
    .m-page-header > .main > .site-logo > * {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      margin-right: 1rem; }
      .m-page-header > .main > .site-logo > *:last-child {
        margin-right: 0; }
    .m-page-header > .main > .site-logo > svg {
      margin-right: .8rem;
      vertical-align: middle;
      width: 1.92rem;
      height: 1.92rem; }
      @media screen and (max-width: 500px) {
        .m-page-header > .main > .site-logo > svg {
          margin-right: .5rem;
          width: 1.44rem;
          height: 1.44rem; } }
    .m-page-header > .main > .site-logo > a {
      display: inline-block;
      font-size: 1.2rem; }
      @media screen and (max-width: 500px) {
        .m-page-header > .main > .site-logo > a {
          font-size: 1.15rem; } }
    @media screen and (max-width: 500px) {
      .m-page-header > .main > .site-logo {
        float: none;
        height: 3rem; } }
  .m-page-header > .main > nav {
    display: block;
    float: right;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; }
    .m-page-header > .main > nav ul {
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: none;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      height: 5rem; }
      .m-page-header > .main > nav ul > * {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        list-style-type: none;
        margin-right: 1rem; }
        .m-page-header > .main > nav ul > *:last-child {
          margin-right: 0; }
      @media screen and (max-width: 500px) {
        .m-page-header > .main > nav ul {
          height: auto; } }
    @media screen and (max-width: 500px) {
      .m-page-header > .main > nav {
        float: none; } }

.m-article-info {
  margin: .8rem 0; }
  .m-article-info .date-wrapper,
  .m-article-info .tag-wrapper,
  .m-article-info .view-wrapper {
    font-size: 0.9rem; }
  .m-article-info .tag-wrapper {
    float: left;
    margin: 0 .25rem 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .m-article-info .tag-wrapper > * {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      list-style-type: none;
      margin-right: 0.25rem; }
      .m-article-info .tag-wrapper > *:last-child {
        margin-right: 0; }
    @media screen and (max-width: 500px) {
      .m-article-info .tag-wrapper {
        float: none; } }
  .m-article-info .other-wrapper {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #9c9c9c;
    margin: 0 0 0 .6rem; }
    @media screen and (max-width: 500px) {
      .m-article-info .other-wrapper {
        float: none; } }
  .m-article-info .view-wrapper {
    border: 0 solid #e6e6e6;
    border-right-width: 1px;
    line-height: 1;
    padding: 0 .25rem 0 0;
    margin: 0 .25rem 0 0; }
  .m-article-info .date-wrapper {
    margin: 0 1rem 0 0; }

.m-article-content {
  word-wrap: break-word;
  line-height: 1.8; }
  .m-article-content h1, .m-article-content h2, .m-article-content h3, .m-article-content h4, .m-article-content h5, .m-article-content h6, .m-article-content p,
  .m-article-content hr, .m-article-content blockquote, .m-article-content figure, .m-article-content pre, .m-article-content .highlighter-rouge,
  .m-article-content ul, .m-article-content ol, .m-article-content dl, .m-article-content table, .m-article-content .footnotes {
    margin: 1.4rem 0; }
  .m-article-content h1, .m-article-content h2, .m-article-content h3, .m-article-content h4, .m-article-content h5, .m-article-content h6 {
    position: relative;
    margin-top: 2.1rem; }
    .m-article-content h1 > .anchor, .m-article-content h2 > .anchor, .m-article-content h3 > .anchor, .m-article-content h4 > .anchor, .m-article-content h5 > .anchor, .m-article-content h6 > .anchor {
      margin-left: .2rem;
      visibility: hidden;
      text-decoration: none;
      opacity: 0; }
      .m-article-content h1 > .anchor, .m-article-content h1 > .anchor:link, .m-article-content h1 > .anchor:visited, .m-article-content h2 > .anchor, .m-article-content h2 > .anchor:link, .m-article-content h2 > .anchor:visited, .m-article-content h3 > .anchor, .m-article-content h3 > .anchor:link, .m-article-content h3 > .anchor:visited, .m-article-content h4 > .anchor, .m-article-content h4 > .anchor:link, .m-article-content h4 > .anchor:visited, .m-article-content h5 > .anchor, .m-article-content h5 > .anchor:link, .m-article-content h5 > .anchor:visited, .m-article-content h6 > .anchor, .m-article-content h6 > .anchor:link, .m-article-content h6 > .anchor:visited {
        color: #cccccc; }
        .m-article-content h1 > .anchor svg path, .m-article-content h1 > .anchor:link svg path, .m-article-content h1 > .anchor:visited svg path, .m-article-content h2 > .anchor svg path, .m-article-content h2 > .anchor:link svg path, .m-article-content h2 > .anchor:visited svg path, .m-article-content h3 > .anchor svg path, .m-article-content h3 > .anchor:link svg path, .m-article-content h3 > .anchor:visited svg path, .m-article-content h4 > .anchor svg path, .m-article-content h4 > .anchor:link svg path, .m-article-content h4 > .anchor:visited svg path, .m-article-content h5 > .anchor svg path, .m-article-content h5 > .anchor:link svg path, .m-article-content h5 > .anchor:visited svg path, .m-article-content h6 > .anchor svg path, .m-article-content h6 > .anchor:link svg path, .m-article-content h6 > .anchor:visited svg path {
          fill: #cccccc; }
      .not-touch .m-article-content h1 > .anchor.hover, .not-touch .m-article-content h1 > .anchor:hover, .not-touch .m-article-content h2 > .anchor.hover, .not-touch .m-article-content h2 > .anchor:hover, .not-touch .m-article-content h3 > .anchor.hover, .not-touch .m-article-content h3 > .anchor:hover, .not-touch .m-article-content h4 > .anchor.hover, .not-touch .m-article-content h4 > .anchor:hover, .not-touch .m-article-content h5 > .anchor.hover, .not-touch .m-article-content h5 > .anchor:hover, .not-touch .m-article-content h6 > .anchor.hover, .not-touch .m-article-content h6 > .anchor:hover {
        color: #fc4d50; }
        .not-touch .m-article-content h1 > .anchor.hover svg path, .not-touch .m-article-content h1 > .anchor:hover svg path, .not-touch .m-article-content h2 > .anchor.hover svg path, .not-touch .m-article-content h2 > .anchor:hover svg path, .not-touch .m-article-content h3 > .anchor.hover svg path, .not-touch .m-article-content h3 > .anchor:hover svg path, .not-touch .m-article-content h4 > .anchor.hover svg path, .not-touch .m-article-content h4 > .anchor:hover svg path, .not-touch .m-article-content h5 > .anchor.hover svg path, .not-touch .m-article-content h5 > .anchor:hover svg path, .not-touch .m-article-content h6 > .anchor.hover svg path, .not-touch .m-article-content h6 > .anchor:hover svg path {
          fill: #fc4d50; }
      .m-article-content h1 > .anchor.active, .m-article-content h1 > .anchor:active, .m-article-content h2 > .anchor.active, .m-article-content h2 > .anchor:active, .m-article-content h3 > .anchor.active, .m-article-content h3 > .anchor:active, .m-article-content h4 > .anchor.active, .m-article-content h4 > .anchor:active, .m-article-content h5 > .anchor.active, .m-article-content h5 > .anchor:active, .m-article-content h6 > .anchor.active, .m-article-content h6 > .anchor:active {
        color: #fc4d50; }
        .m-article-content h1 > .anchor.active svg path, .m-article-content h1 > .anchor:active svg path, .m-article-content h2 > .anchor.active svg path, .m-article-content h2 > .anchor:active svg path, .m-article-content h3 > .anchor.active svg path, .m-article-content h3 > .anchor:active svg path, .m-article-content h4 > .anchor.active svg path, .m-article-content h4 > .anchor:active svg path, .m-article-content h5 > .anchor.active svg path, .m-article-content h5 > .anchor:active svg path, .m-article-content h6 > .anchor.active svg path, .m-article-content h6 > .anchor:active svg path {
          fill: #fc4d50; }
      .m-article-content h1 > .anchor > svg, .m-article-content h2 > .anchor > svg, .m-article-content h3 > .anchor > svg, .m-article-content h4 > .anchor > svg, .m-article-content h5 > .anchor > svg, .m-article-content h6 > .anchor > svg {
        width: 1rem;
        height: 1rem;
        margin-bottom: -0.2rem; }
    .m-article-content h1:hover > .anchor, .m-article-content h2:hover > .anchor, .m-article-content h3:hover > .anchor, .m-article-content h4:hover > .anchor, .m-article-content h5:hover > .anchor, .m-article-content h6:hover > .anchor {
      visibility: visible;
      opacity: 1;
      cursor: pointer; }
  .m-article-content h1,
  .m-article-content h2 {
    border: 0 solid #e6e6e6;
    border-bottom-width: 1px; }
  .m-article-content hr {
    border: none; }
    .m-article-content hr::before {
      content: '...';
      font-size: 1.5rem;
      color: #9c9c9c;
      display: block;
      letter-spacing: .8em;
      text-align: center; }
  .m-article-content blockquote {
    padding-left: 1rem;
    border: 0 solid #cccccc;
    border-left-width: 4px;
    font-size: 0.9rem;
    color: #9c9c9c; }
    .m-article-content blockquote p {
      margin: 0.5rem 0; }
    .m-article-content blockquote > :last-child {
      margin-bottom: 0; }
  .m-article-content img:not(.emoji) {
    max-width: 100%;
    vertical-align: middle; }
  .m-article-content .emoji {
    display: inline-block;
    vertical-align: text-bottom;
    width: 1.26rem;
    height: 1.26rem; }
  .m-article-content .footnotes {
    border: 0 solid #e6e6e6;
    border-top-width: 1px;
    margin-top: 2.8rem; }
  .m-article-content code {
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.05); }
    .m-article-content code span {
      padding: 0;
      margin: 0; }
  .m-article-content pre {
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
    .m-article-content pre > code {
      padding: 0;
      background-color: transparent;
      word-wrap: normal; }
      .m-article-content pre > code.language-mermaid, .m-article-content pre > code.language-chart {
        display: none; }
        .m-article-content pre > code.language-mermaid[data-processed], .m-article-content pre > code.language-chart[data-processed] {
          display: block; }
  .m-article-content .highlighter-rouge > .highlight > pre, .m-article-content figure.highlight > pre {
    padding: 1rem 0 1rem 1rem;
    border-radius: 0.4rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05); }
    .m-article-content .highlighter-rouge > .highlight > pre > code, .m-article-content figure.highlight > pre > code {
      display: block; }
  .m-article-content figure.highlight:before {
    content: attr(data-lang);
    display: block;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    padding: .5rem 1rem .5rem 0;
    color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 700;
    text-align: right;
    text-transform: uppercase; }
  .m-article-content figure.highlight > pre {
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .m-article-content figure.highlight > pre > code > .rouge-table {
      width: auto;
      margin: 0 0 -1rem -1rem; }
      .m-article-content figure.highlight > pre > code > .rouge-table tbody, .m-article-content figure.highlight > pre > code > .rouge-table tr, .m-article-content figure.highlight > pre > code > .rouge-table td {
        border: none;
        padding-top: 0;
        padding-bottom: 0; }
      .m-article-content figure.highlight > pre > code > .rouge-table > tbody {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
        .m-article-content figure.highlight > pre > code > .rouge-table > tbody > tr {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex; }
          .m-article-content figure.highlight > pre > code > .rouge-table > tbody > tr > .code {
            padding: 0 0 1rem .5rem;
            overflow: auto;
            -webkit-overflow-scrolling: touch; }
      .m-article-content figure.highlight > pre > code > .rouge-table tbody td.gl {
        padding-left: 1rem; }
      .m-article-content figure.highlight > pre > code > .rouge-table tbody td > pre {
        padding: 0;
        border-radius: 0;
        display: block;
        overflow: visible;
        margin: 0; }
        .m-article-content figure.highlight > pre > code > .rouge-table tbody td > pre.lineno {
          color: #9c9c9c;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
  .m-article-content ul, .m-article-content ol {
    margin-left: 1.5rem; }
    .m-article-content ul ul, .m-article-content ul ol, .m-article-content ol ul, .m-article-content ol ol {
      margin-top: 0;
      margin-bottom: 0; }
    .m-article-content ul li, .m-article-content ol li {
      margin: 0; }
      .m-article-content ul li p, .m-article-content ol li p {
        margin: 0; }
  .m-article-content dl dt, .m-article-content dl dd {
    margin: 0; }
    .m-article-content dl dt p, .m-article-content dl dd p {
      margin: 0; }
  .m-article-content dl dt {
    font-weight: 700; }
  .m-article-content dl dd {
    margin-left: 2rem; }
  .m-article-content table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse; }
    .m-article-content table thead, .m-article-content table tfoot {
      background-color: rgba(0, 0, 0, 0.05); }
    .m-article-content table th, .m-article-content table td {
      border: 1px solid #e6e6e6;
      padding: .5rem; }
    .m-article-content table th {
      font-weight: 700; }

.m-article-content p.success {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #eef9ea;
  border: 1px solid #57c22d; }
.m-article-content p.info {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #e9f4ff;
  border: 1px solid #2593fc; }
.m-article-content p.warning {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #fef7ea;
  border: 1px solid #f8ac30; }
.m-article-content p.error {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #fee9eb;
  border: 1px solid #f22635; }
.m-article-content img.shadow, .m-article-content .shadow > img {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 2px 8px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.25); }
.m-article-content img.border, .m-article-content .border > img {
  border: 1px solid #e6e6e6; }
.m-article-content img.rounded, .m-article-content .rounded > img {
  border-radius: 0.4rem; }
.m-article-content img.circle, .m-article-content .circle > img {
  border-radius: 50%; }

.m-pagination > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .m-pagination > ul > * {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    list-style-type: none;
    margin-right: 0.25rem; }
    .m-pagination > ul > *:last-child {
      margin-right: 0; }
.m-pagination .round-button.cur, .m-pagination .cur.floating-action-round-button {
  background-color: #fc4d50;
  border-color: #fc4d50;
  color: #fff; }
.m-pagination .omit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .m-pagination .omit > svg {
    width: 1rem;
    height: 1rem;
    fill: #9c9c9c; }

.m-tags > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .m-tags > ul > * {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    list-style-type: none;
    margin-right: 0.25rem; }
    .m-tags > ul > *:last-child {
      margin-right: 0; }
  .m-tags > ul > li > button {
    box-sizing: border-box; }
    .m-tags > ul > li > button, .m-tags > ul > li > button:link, .m-tags > ul > li > button:visited {
      color: #fff;
      background-color: #fc4d50; }
      .m-tags > ul > li > button svg path, .m-tags > ul > li > button:link svg path, .m-tags > ul > li > button:visited svg path {
        fill: #fff; }
    .not-touch .m-tags > ul > li > button.hover, .not-touch .m-tags > ul > li > button:hover {
      color: #fff;
      background-color: #fca24d; }
      .not-touch .m-tags > ul > li > button.hover svg path, .not-touch .m-tags > ul > li > button:hover svg path {
        fill: #fff; }
    .m-tags > ul > li > button.active, .m-tags > ul > li > button:active {
      color: #fff;
      background-color: #fca24d; }
      .m-tags > ul > li > button.active svg path, .m-tags > ul > li > button:active svg path {
        fill: #fff; }
    .m-tags > ul > li > button.focus {
      color: #fff;
      background-color: #fca24d; }
      .m-tags > ul > li > button.focus svg path {
        fill: #fff; }
    .m-tags > ul > li > button.focus {
      box-shadow: 0 4px 4px rgba(252, 162, 77, 0.16), 0 2px 8px rgba(252, 162, 77, 0.1), 0 4px 12px rgba(252, 162, 77, 0.25); }
    .m-tags > ul > li > button.all, .m-tags > ul > li > button.all:link, .m-tags > ul > li > button.all:visited {
      color: #333;
      background-color: #f2f2f2; }
      .m-tags > ul > li > button.all svg path, .m-tags > ul > li > button.all:link svg path, .m-tags > ul > li > button.all:visited svg path {
        fill: #333; }
    .not-touch .m-tags > ul > li > button.all.hover, .not-touch .m-tags > ul > li > button.all:hover {
      color: #fff;
      background-color: #fca24d; }
      .not-touch .m-tags > ul > li > button.all.hover svg path, .not-touch .m-tags > ul > li > button.all:hover svg path {
        fill: #fff; }
    .m-tags > ul > li > button.all.active, .m-tags > ul > li > button.all:active {
      color: #fff;
      background-color: #fca24d; }
      .m-tags > ul > li > button.all.active svg path, .m-tags > ul > li > button.all:active svg path {
        fill: #fff; }
    .m-tags > ul > li > button.all.focus {
      color: #fff;
      background-color: #fca24d; }
      .m-tags > ul > li > button.all.focus svg path {
        fill: #fff; }
    .m-tags > ul > li > button > .tag-count {
      font-size: 0.8rem;
      display: inline-block;
      line-height: 1;
      margin-left: .2rem;
      vertical-align: top; }
.m-tags .tag-1, .m-tags .tag-1:link, .m-tags .tag-1:visited {
  background-color: rgba(252, 77, 80, 0.4); }
.m-tags .tag-2, .m-tags .tag-2:link, .m-tags .tag-2:visited {
  background-color: rgba(252, 77, 80, 0.55); }
.m-tags .tag-3, .m-tags .tag-3:link, .m-tags .tag-3:visited {
  background-color: rgba(252, 77, 80, 0.7); }
.m-tags .tag-4, .m-tags .tag-4:link, .m-tags .tag-4:visited {
  background-color: rgba(252, 77, 80, 0.9); }

.m-toc ul {
  display: block;
  margin: 0;
  list-style-type: none; }
  .m-toc ul > li:not(:last-child) {
    margin-bottom: .1rem; }
.m-toc a {
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: 400;
  padding: 0.2rem 1rem;
  border-radius: 0.4rem; }
  .m-toc a, .m-toc a:link, .m-toc a:visited {
    text-decoration: none; }
  .m-toc a.hover, .m-toc a:hover {
    text-decoration: none; }
  .m-toc a.active, .m-toc a:active {
    text-decoration: none; }
  .m-toc a.focus {
    text-decoration: none; }
  .m-toc a, .m-toc a:link, .m-toc a:visited {
    background-color: transparent; }
  .not-touch .m-toc a.hover, .not-touch .m-toc a:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .m-toc a.active, .m-toc a:active {
    background-color: rgba(0, 0, 0, 0.05); }
.m-toc .toc-h1,
.m-toc .toc-h2 {
  padding: 0; }
  .m-toc .toc-h1 > a,
  .m-toc .toc-h2 > a {
    color: #111;
    font-weight: 700; }
.m-toc .toc-h3 > a,
.m-toc .toc-h4 > a,
.m-toc .toc-h5 > a,
.m-toc .toc-h6 > a {
  padding-top: .15rem;
  padding-bottom: .15rem;
  color: #333;
  font-size: 0.8rem; }
.m-toc .toc-h1 > a {
  font-size: 1rem; }
.m-toc .toc-h3 {
  padding-left: 1.5rem; }
.m-toc .toc-h4 {
  padding-left: 3rem; }
.m-toc .toc-h5 {
  color: #9c9c9c;
  padding-left: 3rem; }
.m-toc .toc-h6 {
  color: #9c9c9c;
  font-size: 0.8rem;
  padding-left: 3rem; }
.m-toc .toc-active a {
  background-color: rgba(0, 0, 0, 0.05);
  color: #fc4d50; }

.follow-me {
  text-align: center; }
  .follow-me > ul {
    margin: 0;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .follow-me > ul > * {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      list-style-type: none;
      margin-right: 0.25rem; }
      .follow-me > ul > *:last-child {
        margin-right: 0; }
    .not-touch .follow-me > ul > li > a.hover, .not-touch .follow-me > ul > li > a:hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      position: relative;
      z-index: 1; }
    .follow-me > ul > li > .mail, .follow-me > ul > li > .mail:link, .follow-me > ul > li > .mail:visited {
      color: #fff;
      background-color: #0072c5; }
      .follow-me > ul > li > .mail svg path, .follow-me > ul > li > .mail:link svg path, .follow-me > ul > li > .mail:visited svg path {
        fill: #fff; }
    .not-touch .follow-me > ul > li > .mail.hover, .not-touch .follow-me > ul > li > .mail:hover {
      color: #fff;
      background-color: #0072c5; }
      .not-touch .follow-me > ul > li > .mail.hover svg path, .not-touch .follow-me > ul > li > .mail:hover svg path {
        fill: #fff; }
    .follow-me > ul > li > .mail.active, .follow-me > ul > li > .mail:active {
      color: #fff;
      background-color: #0072c5; }
      .follow-me > ul > li > .mail.active svg path, .follow-me > ul > li > .mail:active svg path {
        fill: #fff; }
    .follow-me > ul > li > .weibo, .follow-me > ul > li > .weibo:link, .follow-me > ul > li > .weibo:visited {
      color: #fff;
      background-color: #e6162d; }
      .follow-me > ul > li > .weibo svg path, .follow-me > ul > li > .weibo:link svg path, .follow-me > ul > li > .weibo:visited svg path {
        fill: #fff; }
    .not-touch .follow-me > ul > li > .weibo.hover, .not-touch .follow-me > ul > li > .weibo:hover {
      color: #fff;
      background-color: #e6162d; }
      .not-touch .follow-me > ul > li > .weibo.hover svg path, .not-touch .follow-me > ul > li > .weibo:hover svg path {
        fill: #fff; }
    .follow-me > ul > li > .weibo.active, .follow-me > ul > li > .weibo:active {
      color: #fff;
      background-color: #e6162d; }
      .follow-me > ul > li > .weibo.active svg path, .follow-me > ul > li > .weibo:active svg path {
        fill: #fff; }
    .follow-me > ul > li > .facebook, .follow-me > ul > li > .facebook:link, .follow-me > ul > li > .facebook:visited {
      color: #fff;
      background-color: #4267b2; }
      .follow-me > ul > li > .facebook svg path, .follow-me > ul > li > .facebook:link svg path, .follow-me > ul > li > .facebook:visited svg path {
        fill: #fff; }
    .not-touch .follow-me > ul > li > .facebook.hover, .not-touch .follow-me > ul > li > .facebook:hover {
      color: #fff;
      background-color: #4267b2; }
      .not-touch .follow-me > ul > li > .facebook.hover svg path, .not-touch .follow-me > ul > li > .facebook:hover svg path {
        fill: #fff; }
    .follow-me > ul > li > .facebook.active, .follow-me > ul > li > .facebook:active {
      color: #fff;
      background-color: #4267b2; }
      .follow-me > ul > li > .facebook.active svg path, .follow-me > ul > li > .facebook:active svg path {
        fill: #fff; }
    .follow-me > ul > li > .twitter, .follow-me > ul > li > .twitter:link, .follow-me > ul > li > .twitter:visited {
      color: #fff;
      background-color: #1da1f2; }
      .follow-me > ul > li > .twitter svg path, .follow-me > ul > li > .twitter:link svg path, .follow-me > ul > li > .twitter:visited svg path {
        fill: #fff; }
    .not-touch .follow-me > ul > li > .twitter.hover, .not-touch .follow-me > ul > li > .twitter:hover {
      color: #fff;
      background-color: #1da1f2; }
      .not-touch .follow-me > ul > li > .twitter.hover svg path, .not-touch .follow-me > ul > li > .twitter:hover svg path {
        fill: #fff; }
    .follow-me > ul > li > .twitter.active, .follow-me > ul > li > .twitter:active {
      color: #fff;
      background-color: #1da1f2; }
      .follow-me > ul > li > .twitter.active svg path, .follow-me > ul > li > .twitter:active svg path {
        fill: #fff; }
    .follow-me > ul > li > .googlepluse, .follow-me > ul > li > .googlepluse:link, .follow-me > ul > li > .googlepluse:visited {
      color: #fff;
      background-color: #ea4335; }
      .follow-me > ul > li > .googlepluse svg path, .follow-me > ul > li > .googlepluse:link svg path, .follow-me > ul > li > .googlepluse:visited svg path {
        fill: #fff; }
    .not-touch .follow-me > ul > li > .googlepluse.hover, .not-touch .follow-me > ul > li > .googlepluse:hover {
      color: #fff;
      background-color: #ea4335; }
      .not-touch .follow-me > ul > li > .googlepluse.hover svg path, .not-touch .follow-me > ul > li > .googlepluse:hover svg path {
        fill: #fff; }
    .follow-me > ul > li > .googlepluse.active, .follow-me > ul > li > .googlepluse:active {
      color: #fff;
      background-color: #ea4335; }
      .follow-me > ul > li > .googlepluse.active svg path, .follow-me > ul > li > .googlepluse:active svg path {
        fill: #fff; }
    .follow-me > ul > li > .github, .follow-me > ul > li > .github:link, .follow-me > ul > li > .github:visited {
      color: #fff;
      background-color: #000; }
      .follow-me > ul > li > .github svg path, .follow-me > ul > li > .github:link svg path, .follow-me > ul > li > .github:visited svg path {
        fill: #fff; }
    .not-touch .follow-me > ul > li > .github.hover, .not-touch .follow-me > ul > li > .github:hover {
      color: #fff;
      background-color: #000; }
      .not-touch .follow-me > ul > li > .github.hover svg path, .not-touch .follow-me > ul > li > .github:hover svg path {
        fill: #fff; }
    .follow-me > ul > li > .github.active, .follow-me > ul > li > .github:active {
      color: #fff;
      background-color: #000; }
      .follow-me > ul > li > .github.active svg path, .follow-me > ul > li > .github:active svg path {
        fill: #fff; }
    .follow-me > ul > li > .linkedin, .follow-me > ul > li > .linkedin:link, .follow-me > ul > li > .linkedin:visited {
      color: #fff;
      background-color: #1074af; }
      .follow-me > ul > li > .linkedin svg path, .follow-me > ul > li > .linkedin:link svg path, .follow-me > ul > li > .linkedin:visited svg path {
        fill: #fff; }
    .not-touch .follow-me > ul > li > .linkedin.hover, .not-touch .follow-me > ul > li > .linkedin:hover {
      color: #fff;
      background-color: #1074af; }
      .not-touch .follow-me > ul > li > .linkedin.hover svg path, .not-touch .follow-me > ul > li > .linkedin:hover svg path {
        fill: #fff; }
    .follow-me > ul > li > .linkedin.active, .follow-me > ul > li > .linkedin:active {
      color: #fff;
      background-color: #1074af; }
      .follow-me > ul > li > .linkedin.active svg path, .follow-me > ul > li > .linkedin:active svg path {
        fill: #fff; }
    .follow-me > ul > li > .douban, .follow-me > ul > li > .douban:link, .follow-me > ul > li > .douban:visited {
      color: #fff;
      background-color: #42bd56; }
      .follow-me > ul > li > .douban svg path, .follow-me > ul > li > .douban:link svg path, .follow-me > ul > li > .douban:visited svg path {
        fill: #fff; }
    .not-touch .follow-me > ul > li > .douban.hover, .not-touch .follow-me > ul > li > .douban:hover {
      color: #fff;
      background-color: #42bd56; }
      .not-touch .follow-me > ul > li > .douban.hover svg path, .not-touch .follow-me > ul > li > .douban:hover svg path {
        fill: #fff; }
    .follow-me > ul > li > .douban.active, .follow-me > ul > li > .douban:active {
      color: #fff;
      background-color: #42bd56; }
      .follow-me > ul > li > .douban.active svg path, .follow-me > ul > li > .douban:active svg path {
        fill: #fff; }

.m-license {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 700; }
  .m-license img {
    vertical-align: bottom; }
  .m-license .url {
    word-wrap: break-word; }
  .m-license .octocat {
    float: right; }
    .m-license .octocat img {
      width: 4rem;
      height: auto;
      margin: 0 1rem;
      border-width: 0;
      border-radius: 2rem; }
  .m-license .license {
    float: right;
    margin-left: 1rem; }

/**
 * Site Info
 */
.m-page-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 12rem;
  margin-top: -12rem;
  background-color: #f2f2f2; }
  .m-page-footer p {
    color: #333; }
  .m-page-footer a, .m-page-footer a:link, .m-page-footer a:visited {
    color: #333; }
    .m-page-footer a svg path, .m-page-footer a:link svg path, .m-page-footer a:visited svg path {
      fill: #333; }
  .not-touch .m-page-footer a.hover, .not-touch .m-page-footer a:hover {
    color: #fc4d50; }
    .not-touch .m-page-footer a.hover svg path, .not-touch .m-page-footer a:hover svg path {
      fill: #fc4d50; }
  .m-page-footer a.active, .m-page-footer a:active {
    color: #fc4d50; }
    .m-page-footer a.active svg path, .m-page-footer a:active svg path {
      fill: #fc4d50; }
  .m-page-footer .site-info {
    text-align: center;
    font-size: 0.8rem;
    margin: 0 auto; }

.m-page-stage {
  box-sizing: border-box;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 12rem;
  -webkit-animation: fade-in-down 0.6s ease;
  animation: fade-in-down 0.6s ease; }

.m-page-content {
  padding: 0;
  padding-bottom: 1.6rem; }
  @media screen and (max-width: 1024px) {
    .m-page-content {
      padding-bottom: 0.8rem; } }

.m-page-main {
  margin: 0 auto; }

.m-post-list > article {
  padding-bottom: 1.3rem;
  margin: 2.6rem 0 1rem 0; }
  .m-post-list > article > h1 {
    font-size: 1.4rem; }
    .m-post-list > article > h1 > a, .m-post-list > article > h1 > a:link, .m-post-list > article > h1 > a:visited {
      color: #111; }
      .m-post-list > article > h1 > a svg path, .m-post-list > article > h1 > a:link svg path, .m-post-list > article > h1 > a:visited svg path {
        fill: #111; }
    .not-touch .m-post-list > article > h1 > a.hover, .not-touch .m-post-list > article > h1 > a:hover {
      color: #fc4d50; }
      .not-touch .m-post-list > article > h1 > a.hover svg path, .not-touch .m-post-list > article > h1 > a:hover svg path {
        fill: #fc4d50; }
    .m-post-list > article > h1 > a.active, .m-post-list > article > h1 > a:active {
      color: #fc4d50; }
      .m-post-list > article > h1 > a.active svg path, .m-post-list > article > h1 > a:active svg path {
        fill: #fc4d50; }
  .m-post-list > article > a {
    font-size: 0.9rem; }
  .m-post-list > article:not(:last-child) {
    border: 0 solid #e6e6e6;
    border-bottom-width: 1px; }
.m-post-list .m-article-content {
  font-size: 0.9rem;
  line-height: 1.6; }
  .m-post-list .m-article-content h1, .m-post-list .m-article-content h2, .m-post-list .m-article-content h3, .m-post-list .m-article-content h4, .m-post-list .m-article-content h5, .m-post-list .m-article-content h6, .m-post-list .m-article-content p,
  .m-post-list .m-article-content hr, .m-post-list .m-article-content blockquote, .m-post-list .m-article-content figure, .m-post-list .m-article-content pre, .m-post-list .m-article-content .highlighter-rouge,
  .m-post-list .m-article-content ul, .m-post-list .m-article-content ol, .m-post-list .m-article-content dl, .m-post-list .m-article-content table, .m-post-list .m-article-content .footnotes {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .m-post-list .m-article-content h1, .m-post-list .m-article-content h2, .m-post-list .m-article-content h3, .m-post-list .m-article-content h4, .m-post-list .m-article-content h5, .m-post-list .m-article-content h6 {
    margin-top: 0.75rem; }
  .m-post-list .m-article-content h1,
  .m-post-list .m-article-content h2,
  .m-post-list .m-article-content h3 {
    color: #333; }
  .m-post-list .m-article-content h1,
  .m-post-list .m-article-content h2 {
    padding: 0;
    border: none; }
  .m-post-list .m-article-content h1 {
    font-size: 1rem; }
  .m-post-list .m-article-content h2 {
    font-size: 0.975rem; }
  .m-post-list .m-article-content h3 {
    font-size: 0.95rem; }
  .m-post-list .m-article-content h4 {
    font-size: 0.925rem; }
  .m-post-list .m-article-content h5 {
    font-size: 0.9rem; }
  .m-post-list .m-article-content h6 {
    font-size: 0.9rem; }
  .m-post-list .m-article-content img {
    max-height: 12rem; }

.m-all.search > .main > .m-tags {
  display: none; }
.m-all.search > .main > .m-result section ul > li .date {
  display: none; }
.m-all > .main > .m-tags {
  margin-bottom: 2.8rem;
  display: block; }
.m-all > .main > .m-search-box {
  position: relative;
  box-sizing: border-box;
  max-width: 22rem;
  margin: 1.4rem 0; }
  @media screen and (max-width: 500px) {
    .m-all > .main > .m-search-box {
      max-width: none;
      width: 100%; } }
  .m-all > .main > .m-search-box > input {
    padding: 0.2rem 1.8rem;
    border-radius: 2rem;
    -webkit-transition: box-shadow 0.6s ease;
    transition: box-shadow 0.6s ease;
    -webkit-appearance: none;
    /* fix iOS don't display box-shadow properly */
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05); }
    .m-all > .main > .m-search-box > input.focus {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }
  .m-all > .main > .m-search-box > .icon-search, .m-all > .main > .m-search-box > .icon-clear {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: middle; }
    .m-all > .main > .m-search-box > .icon-search > svg, .m-all > .main > .m-search-box > .icon-clear > svg {
      display: block;
      fill: #9c9c9c;
      height: 1.2rem;
      width: 1.2rem; }
  .m-all > .main > .m-search-box.not-empty > .icon-clear {
    display: block; }
  .m-all > .main > .m-search-box > .icon-clear {
    display: none;
    right: .5rem; }
    .m-all > .main > .m-search-box > .icon-clear, .m-all > .main > .m-search-box > .icon-clear:link, .m-all > .main > .m-search-box > .icon-clear:visited {
      color: #9c9c9c;
      background-color: transparent; }
      .m-all > .main > .m-search-box > .icon-clear svg path, .m-all > .main > .m-search-box > .icon-clear:link svg path, .m-all > .main > .m-search-box > .icon-clear:visited svg path {
        fill: #9c9c9c; }
    .not-touch .m-all > .main > .m-search-box > .icon-clear.hover, .not-touch .m-all > .main > .m-search-box > .icon-clear:hover {
      color: #111;
      background-color: transparent; }
      .not-touch .m-all > .main > .m-search-box > .icon-clear.hover svg path, .not-touch .m-all > .main > .m-search-box > .icon-clear:hover svg path {
        fill: #111; }
    .m-all > .main > .m-search-box > .icon-clear.active, .m-all > .main > .m-search-box > .icon-clear:active {
      color: #111;
      background-color: transparent; }
      .m-all > .main > .m-search-box > .icon-clear.active svg path, .m-all > .main > .m-search-box > .icon-clear:active svg path {
        fill: #111; }
  .m-all > .main > .m-search-box > .icon-search {
    left: .5rem; }
.m-all > .main > .m-result {
  margin: 1.4rem 0; }
  .m-all > .main > .m-result section:not(:last-child) {
    padding: 0 0 .4rem 0; }
  .m-all > .main > .m-result section .year {
    font-size: 1.6rem; }
  .m-all > .main > .m-result section ul > li {
    list-style-type: none;
    margin: .4rem 0; }
    .m-all > .main > .m-result section ul > li .date {
      font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
      display: inline-block;
      font-size: 0.9rem;
      color: #9c9c9c;
      padding: 0 1rem 0 0; }
    .m-all > .main > .m-result section ul > li .link {
      font-size: 1rem; }
      .m-all > .main > .m-result section ul > li .link, .m-all > .main > .m-result section ul > li .link:link, .m-all > .main > .m-result section ul > li .link:visited {
        color: #111; }
        .m-all > .main > .m-result section ul > li .link svg path, .m-all > .main > .m-result section ul > li .link:link svg path, .m-all > .main > .m-result section ul > li .link:visited svg path {
          fill: #111; }
      .not-touch .m-all > .main > .m-result section ul > li .link.hover, .not-touch .m-all > .main > .m-result section ul > li .link:hover {
        color: #fc4d50; }
        .not-touch .m-all > .main > .m-result section ul > li .link.hover svg path, .not-touch .m-all > .main > .m-result section ul > li .link:hover svg path {
          fill: #fc4d50; }
      .m-all > .main > .m-result section ul > li .link.active, .m-all > .main > .m-result section ul > li .link:active {
        color: #fc4d50; }
        .m-all > .main > .m-result section ul > li .link.active svg path, .m-all > .main > .m-result section ul > li .link:active svg path {
          fill: #fc4d50; }

.m-post .col-2 {
  display: none;
  float: right; }
  .m-post .col-2 > aside {
    box-sizing: border-box;
    width: 220px;
    position: absolute;
    padding: 1.5rem;
    padding-right: 0;
    overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .m-post .col-2 {
      float: none; } }
.m-post footer > span {
  color: #9c9c9c; }
.m-post footer > .article-license {
  position: relative;
  max-width: 30rem;
  margin: .8rem 0; }
.m-post .article-previous-next {
  word-wrap: break-word;
  margin: 2.8rem 0 1.4rem 0;
  padding-top: 0.7rem;
  border: 0 solid #e6e6e6;
  border-top-width: 4px; }
  .m-post .article-previous-next > .article-previous, .m-post .article-previous-next > .article-next {
    box-sizing: border-box;
    width: 50%; }
    .m-post .article-previous-next > .article-previous > span, .m-post .article-previous-next > .article-next > span {
      font-weight: 700;
      color: #9c9c9c; }
    .m-post .article-previous-next > .article-previous > a, .m-post .article-previous-next > .article-next > a {
      display: block; }
      .m-post .article-previous-next > .article-previous > a, .m-post .article-previous-next > .article-previous > a:link, .m-post .article-previous-next > .article-previous > a:visited, .m-post .article-previous-next > .article-next > a, .m-post .article-previous-next > .article-next > a:link, .m-post .article-previous-next > .article-next > a:visited {
        color: #333; }
        .m-post .article-previous-next > .article-previous > a svg path, .m-post .article-previous-next > .article-previous > a:link svg path, .m-post .article-previous-next > .article-previous > a:visited svg path, .m-post .article-previous-next > .article-next > a svg path, .m-post .article-previous-next > .article-next > a:link svg path, .m-post .article-previous-next > .article-next > a:visited svg path {
          fill: #333; }
      .not-touch .m-post .article-previous-next > .article-previous > a.hover, .not-touch .m-post .article-previous-next > .article-previous > a:hover, .not-touch .m-post .article-previous-next > .article-next > a.hover, .not-touch .m-post .article-previous-next > .article-next > a:hover {
        color: #fc4d50; }
        .not-touch .m-post .article-previous-next > .article-previous > a.hover svg path, .not-touch .m-post .article-previous-next > .article-previous > a:hover svg path, .not-touch .m-post .article-previous-next > .article-next > a.hover svg path, .not-touch .m-post .article-previous-next > .article-next > a:hover svg path {
          fill: #fc4d50; }
      .m-post .article-previous-next > .article-previous > a.active, .m-post .article-previous-next > .article-previous > a:active, .m-post .article-previous-next > .article-next > a.active, .m-post .article-previous-next > .article-next > a:active {
        color: #fc4d50; }
        .m-post .article-previous-next > .article-previous > a.active svg path, .m-post .article-previous-next > .article-previous > a:active svg path, .m-post .article-previous-next > .article-next > a.active svg path, .m-post .article-previous-next > .article-next > a:active svg path {
          fill: #fc4d50; }
  .m-post .article-previous-next > .article-previous {
    float: left;
    padding-right: .5rem; }
  .m-post .article-previous-next > .article-next {
    float: right;
    padding-left: .5rem;
    text-align: right; }

.has-toc .m-post .col-1 {
  margin-right: 220px; }
  @media screen and (max-width: 1024px) {
    .has-toc .m-post .col-1 {
      margin-right: 0; } }
.has-toc .m-post .col-2 {
  width: 220px;
  position: relative;
  display: block; }
  .has-toc .m-post .col-2 > aside.fixed {
    position: fixed;
    z-index: 2;
    -webkit-font-smoothing: subpixel-antialiased; }
  @media screen and (max-width: 1024px) {
    .has-toc .m-post .col-2 {
      display: none; } }

.m-error-404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .m-error-404 > .main > h1 {
    font-size: 7rem; }
