---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import

    "skins/{{ site.text_skin | default: site.data.variables.default.text_skin }}",
    // "skins/chocolate",
    // "skins/dark",
    // "skins/default",
    // "skins/forest",
    // "skins/ocean",
    // "skins/orange",

    "skins/highlight/{{ site.highlight_theme | default: site.data.variables.default.highlight_theme }}",
    // "skins/highlight/tomorrow",
    // "skins/highlight/tomorrow-night",
    // "skins/highlight/tomorrow-night-eighties",
    // "skins/highlight/tomorrow-night-blue",
    // "skins/highlight/tomorrow-night-bright",


    "common/variables",
    "common/function",
    "common/classes",
    "common/reset",
    "common/components/button",
    "common/components/menu",
    "common/components/card",
    "common/components/toc",

    "animate/fade-in",
    "animate/fade-in-up",
    "animate/fade-in-down",

    "components/author-profile",
    "components/main",
    "components/header",
    "components/article.info",
    "components/article.content",
    "components/tags",
    "components/follow-me",
    "components/footer",

    "additional/alert",
    "additional/photo-frame",

    "layout/page",
    "layout/home",
    "layout/archive",
    "layout/article",
    "layout/landing",
    "layout/404"
;
