**
!2021-07-13-What-is-the-basic-concept-and-Framework-in-Nature-Lanugage-Process?.md
# !2021-09-27-W2.md
# !2021-09-27-W3.md
# !2021-09-27-W4.md
# !2021-09-27-W5.md
!2021-09-27-continuous-back-of-words.md
!2021-09-27-evaluation-of-word-vectors.md
!2021-09-27-global-vectors-for-word-representation.md
!2021-09-27-hierarchical-softmax.md
!2021-09-27-negative-sampling.md
!2021-09-27-skip-gram.md
!2022-06-18-test-for-post.md
!2022-07-01-disk-partition-and-mount.md
!2022-07-01-gpu-conda-environment-for-tensorflow-pytorch.md
!2022-07-01-os-setup-for-machine-learning.md
!2022-07-01-samba-installation-in-ubuntu.md
!2022-07-01-user-and-group.md
!2022-11-13-CS224N-Standford.md
!projects/
!.gitignore