///
// Color Theme: Chocolate
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #c68a45;
$text-color-1:     #fff;

$main-color-2:     #6e3e85;
$text-color-2:     #fff;

$main-color-3:     #7f5543;
$text-color-3:     #fff;

// background colors
$background-color: #f2ebe6;
// text colors
$text-color-d:     #251914;
$text-color:       #3f2a21;
$text-color-l:     #724c3c;
$text-background-color:mix(#000, $background-color, 5%);

// border and shadow colors
$border-color:     mix(#000, $background-color, 20%);
$border-color-l:   mix(#000, $background-color, 10%);
$select-color:     rgba($main-color-3, .5);
$decorate-color:   rgba(#000, .1);

// logo colors
$mail-color:       #0072c5;
$weibo-color:      #e6162d;
$facebook-color:   #4267b2;
$google-plus-color:#ea4335;
$twitter-color:    #1da1f2;
$douban-color:     #42bd56;
$github-color:     #000;
$linkedin-color:   #1074af;
