///
// Colors Setting
///

// main colors
$main-color-1:     #ffbf00;
$text-color-1:     #fff;

$main-color-2:     #ff3366;
$text-color-2:     #fff;

$main-color-3:     #333;
$text-color-3:     #fff;

// background colors
$background-color: #111;
// text colors
$text-color-d:     #ddd;
$text-color:       #bbb;
$text-color-l:     #999;

// border and shadow colors
$border-color:     rgba(#000, .2);
$select-color:     rgba($main-color-1, .5);
$shadow-down:      0 2px 10px rgba(#fff, .15), 0 0 16px rgba(#fff, .05);

// logo colors
$mail-color:       #0072c5;
$weibo-color:      #e6162d;
$facebook-color:   #4267b2;
$google-plus-color:#ea4335;
$twitter-color:    #1da1f2;
$douban-color:     #42bd56;
$github-color:     #000;
$linkedin-color:   #1074af;
