///
// Color Theme: Orange
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #fca24d;
$text-color-1:     #fff;

$main-color-2:     #fc4d50;
$text-color-2:     #fff;

$main-color-3:     #fa510f;
$text-color-3:     #fff;

// background colors
$background-color: #fff1eb;
// text colors
$text-color-d:     rgba(#000, .95);
$text-color:       rgba(#000, .85);
$text-color-l:     rgba(#000, .5);
$text-background-color:rgba(#000, .05);

// border and shadow colors
$border-color:     rgba(#000, .2);
$select-color:     rgba($main-color-3, .5);
$decorate-color:   rgba(#000, .1);
$shadow-down:      0 2px 10px rgba(#000, .15), 0 0 16px rgba(#000, .05);

// logo colors
$mail-color:       #0072c5;
$weibo-color:      #e6162d;
$facebook-color:   #4267b2;
$google-plus-color:#ea4335;
$twitter-color:    #1da1f2;
$douban-color:     #42bd56;
$github-color:     #000;
$linkedin-color:   #1074af;
