///
// Color Theme: Dark
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #ffbf00;
$text-color-1:     #dedede;

$main-color-2:     #ff3366;
$text-color-2:     #dedede;
$main-color-3:     #21252b;
$text-color-3:     #dedede;

// background colors
$background-color: #2e3744;
// text colors
$text-color-d:     #f1f3f6;
$text-color:       #dadfe6;
$text-color-l:     #acb0b4;
$text-background-color:#1e242d;

// border and shadow colors
$border-color:     #161b21;
$select-color:     rgba($main-color-1, .5);
$decorate-color:   rgba(#fff, .1);
$shadow-down:      none;

// logo colors
$mail-color:       #0072c5;
$weibo-color:      #e6162d;
$facebook-color:   #4267b2;
$google-plus-color:#ea4335;
$twitter-color:    #1da1f2;
$douban-color:     #42bd56;
$github-color:     #000;
$linkedin-color:   #1074af;
