///
// Color Theme: Dark
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #ffbf00;
$text-color-1:     rgba(#fff, .95);

$main-color-2:     #ff3366;
$text-color-2:     rgba(#fff, .95);

$main-color-3:     #21252b;
$text-color-3:     rgba(#fff, .95);

// background colors
$background-color: #2e3744;
// text colors
$text-color-theme-light-d: #000;
$text-color-theme-light:   #222;
$text-color-theme-light-l: #888;

$text-color-theme-dark-d:  #fff;
$text-color-theme-dark:    rgba(#fff, .95);
$text-color-theme-dark-l:  rgba(#fff, .85);

$text-color-d:     $text-color-theme-dark-d;
$text-color:       $text-color-theme-dark;
$text-color-l:     $text-color-theme-dark-l;

$text-background-color: rgba(#fff, .05);

// border and shadow colors
$border-color:     mix(#fff, $background-color, 20%);
$border-color-l:   mix(#fff, $background-color, 10%);
$decorate-color:   rgba(#fff, .1);
$mask-color:       rgba(#fff, .8);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #57c22d;
$blue:            #2593fc;
$yellow:          #f8ac30;
$red:             #f22635;
$text-color-function: rgba(#fff, .9);

// logo colors
$mail-color:       #0072c5;
$weibo-color:      #e6162d;
$facebook-color:   #4267b2;
$google-plus-color:#ea4335;
$twitter-color:    #1da1f2;
$douban-color:     #42bd56;
$github-color:     #000;
$linkedin-color:   #1074af;
