///
// Color Theme: Default
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #fc4d50;
$text-color-1:     #fff;

$main-color-2:     #fca24d;
$text-color-2:     #fff;

$main-color-3:     #f2f2f2;
$text-color-3:     #666;

// background colors
$background-color: #fff;
// text colors
$text-color-d:     #111;
$text-color:       #333;
$text-color-l:     #9c9c9c;
$text-background-color:#f2f2f2;

// border and shadow colors
$border-color:     #aeaeae;
$select-color:     rgba($main-color-1, .5);
$decorate-color:   rgba(#000, .1);
$shadow-color:     rgba(#000, .15);

// logo colors
$mail-color:       #0072c5;
$weibo-color:      #e6162d;
$facebook-color:   #4267b2;
$google-plus-color:#ea4335;
$twitter-color:    #1da1f2;
$douban-color:     #42bd56;
$github-color:     #000;
$linkedin-color:   #1074af;
