// Our variables
$spacing-unit:      30px;
$content-gap:		    .8em;

// Width of the content area
$content-max-width: 800px;
$aside-width:       240px;
$footer-height:     12em;

// Device Width
$on-palm:           500px;
$on-laptop:         1150px;