$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
                   Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
$code-font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;

$base-line-height: 1.6;
$code-line-height: 1.5;
$toc-line-height: 1.4;
$article-line-height: 1.8;
$base-font-size: 1em;
$base-font-weight: 400;
$bold-font-weight: 700;

$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 1.5;
$h3-font-size: $base-font-size * 1.2;
$h4-font-size: $base-font-size * 1.1;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size;

$h1-font-size-palm: $base-font-size * 1.7;
$h2-font-size-palm: $base-font-size * 1.4;

$article-list-head: $base-font-size * 1.6;

$h1-font-size-excerpt: $base-font-size * 1.4;
$h2-font-size-excerpt: $base-font-size * 1.3;
$h3-font-size-excerpt: $base-font-size * 1.2;
$h4-font-size-excerpt: $base-font-size * 1.1;

$code-font-size: $base-font-size * 14 / 16;
$small-font-size:  $base-font-size * .9;
$tiny-font-size: $base-font-size * .8;