$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$code-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

$root-font-size:        16px;
$base-font-size:        1rem;
$base-font-weight:      400;
$bold-font-weight:      700;

$base-line-height:      1.6;
$code-line-height:      1.5;
$toc-line-height:       1.4;
$article-line-height:   1.8;

$h1-font-size:          2.25rem;
$h2-font-size:          1.5rem;
$h3-font-size:          1.2rem;
$h4-font-size:          1.1rem;
$h5-font-size:          1rem;
$h6-font-size:          1rem;

$h1-font-size-palm:     1.7rem;
$h2-font-size-palm:     1.4rem;

$article-list-head:     1.6rem;

$h1-font-size-excerpt:  1.4rem;
$h2-font-size-excerpt:  1.3rem;
$h3-font-size-excerpt:  1.2rem;
$h4-font-size-excerpt:  1.1rem;

$code-font-size:        .75rem;
$small-font-size:       .9rem;
$tiny-font-size:        .8rem;