@mixin box-shadow($level: default, $color: default) {
  @if $color == default {
    $color: #000;
  }
  @if $level == 0 {
    box-shadow: none;
  }
  @if $level == 1 or $level == default {
    box-shadow: 0 4px 6px rgba($color, .11), 0 1px 3px rgba($color, .08);
  }
  @if $level == 2 {
    box-shadow: 0 7px 14px rgba($color, .1), 0 3px 6px rgba($color, .08);
  }
}

.box-shadow-1 {
  @include box-shadow();
}

.box-shadow-2 {
  @include box-shadow(2);
}