@mixin round-rect($radius: default, $padding-y-spacer: default, $padding-x-spacer: default) {
  @if $radius == default {
    $radius: map-get($base, border-radius);
  }
  @if $padding-x-spacer == default {
    $padding-x-spacer: 0;
  }
  @if $padding-y-spacer == default {
    $padding-y-spacer: 0;
  }
  padding: map-get($spacers, $padding-y-spacer) map-get($spacers, $padding-x-spacer);
  border-radius: $radius;
}