@mixin box-shadow($level: default) {
  @if $level == 1 or $level == default {
    box-shadow: 0 .06rem  .18rem  rgba(0,0,0,0.12), 0 .06rem  .12rem rgba(0,0,0,0.24);
  }
  @if $level == 2 {
    box-shadow: 0 .18rem  .36rem  rgba(0,0,0,0.16), 0 .18rem  .36rem rgba(0,0,0,0.23);
  }
  @if $level == 3 {
    box-shadow: 0 .6rem   1.2rem  rgba(0,0,0,0.19), 0 .36rem .36rem  rgba(0,0,0,0.23);
  }
  @if $level == 4 {
    box-shadow: 0 .84rem  1.68rem rgba(0,0,0,0.25), 0 .6rem   .6rem  rgba(0,0,0,0.22);
  }
  @if $level == 5 {
    box-shadow: 0 1.14rem 2.28rem rgba(0,0,0,0.30), 0 .9rem   .72rem rgba(0,0,0,0.22);
  }
}