@mixin round($length: default) {
  @if $length == default {
    $length: map-get($shape, round-length);
  }
  width: $length;
  height: $length;
  border-radius: 50%;
}

@mixin round-rect($radius: default, $padding: default) {
  @if $radius == default {
    $radius: map-get($shape, round-rect-radius);
  }
  @if $padding == default {
    $padding: 0;
  }
  padding: $padding;
  border-radius: $radius;
}