@mixin split-line($direction: default, $width: default, $pv_color: default) {
  @if $direction == default {
    $direction: top;
  }
  @if $pv_color == default {
    $pv_color: "border-color-l";
  }
  @if $width == default {
    $width: 1px;
  }
  border: 0 solid;
  @include css-var(border-color, "var(--#{$pv_color})");
  @if $direction == top {
    border-top-width: $width;
  }
  @if $direction == right {
    border-right-width: $width;
  }
  @if $direction == bottom {
    border-bottom-width: $width;
  }
  @if $direction == left {
    border-left-width: $width;
  }
}
