.m-page-stage {
  box-sizing: border-box;
  min-height: 100%;
  overflow: auto;
  padding-bottom: $footer-height;
  @include animation(fade-in-down .8s);
}

.m-page-content {
  padding: $content-gap * 3 0 $content-gap * 2;
  @include media-query($on-laptop) {
    padding: $content-gap * 2 0;
  }
  @include media-query($on-palm) {
    padding: $content-gap 0;
  }
}

.m-page-main {
  margin: 0 auto;
}
