.m-post {
  &>div {
    display: block;
    @include media-query($on-laptop) {
      display: block;
    }
  }
  .col-1 {
    @include flex(1);
    max-width: $content-max-width;
    &>article {
      &>header {
        color: $text-color-d;
        margin-bottom: $spacing-unit / 6;
        &>h1 {
          margin-bottom: $spacing-unit;
        }
      }
    }
  }
  .col-2 {
    display: none;
    &>aside {
      box-sizing: border-box;
      width: $aside-width;
      position: absolute;
      padding: $spacing-unit 0 $spacing-unit $spacing-unit * 2;
      overflow: hidden;
    }
  }
  footer {
    &>span {
      color: $text-color-l;
    }
    &>.article-license {
      position: relative;
      max-width: 500px;
      margin: 1.5em 0;
    }
  }
}

.has-toc {
  .m-post {
    &>div {
      @include flexbox;
      @include media-query($on-laptop) {
        display: block;
      }
    }
    .col-2 {
      width: $aside-width;
      position: relative;
      display: block;
      &>aside {
        &.fixed {
          position: fixed;
          z-index: 2;
          -webkit-font-smoothing: subpixel-antialiased;
        }
      }
      @include media-query($on-laptop) {
        display: none;
      }
    }
  }
}