.m-post-list {
  &>article {
    &>h1 {
      font-size: $article-list-head;
      &>a {
        @include link-text-colors( $text-color-d, $main-color-1);
      }
    }
    &>a {
      font-size: $small-font-size;
    }
    margin: $content-gap * 3 0;
  }
  .m-article-content {
    font-size: $small-font-size;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: $content-gap 0;
    }
    h1,
    h2,
    h3 {
      color: $text-color;
    }
    h1,
    h2 {
      padding: 0;
      border: none;
    }
    h1 {
      font-size: $h1-font-size-excerpt;
    }
    h2 {
      font-size: $h2-font-size-excerpt;
    }
    h3 {
      font-size: $h3-font-size-excerpt;
    }
    h4 {
      font-size: $h4-font-size-excerpt;
    }
    img {
      max-height: 200px;
    }
  }
}