.m-post-list {
    & > article {
        & > h1 {
            font-size: $base-font-size * 1.6;
            & > a {
                @include link-text-colors(
                    $text-color-d,
                    $main-color-1
                );
            }
        }
        margin: $content-gap * 3 0;
    }
    .m-article-content {
        img {
            max-height: 200px;
        }
    }
}