.m-all {
    & > div > section {
        margin: $content-gap * 3 0;
        .year-list {
            & > li {
                list-style-type: none;
                margin: $base-font-size * .4 0;
            }
        }
        .post-date {
            display: inline-block;
            font-size: $small-font-size;
            color: $text-color-l;
            width: 4em;
        }
    }
    .post-link {
        font-size: $base-font-size;
        @include link-normal {
            color: $text-color-d;
        }
        @include link-emphasize {
            color: $main-color-1;
        }
    }
}
