<div class="follow-me">
    <ul class="inline-list" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ site.author.name }}">
        <link itemprop="url" href="{{ '/' | prepend: site.url }}">
        {% if site.author.weibo %}
            <li title="Follow me on Weibo.">
                <div class="round-button weibo">
                    <a itemprop="sameAs" href="https://weibo.com/{{ site.author.weibo }}" target="_blank">
                        <div class="icon">{% include icon/social/weibo.svg %}</div>
                    </a>
                </div>
            </li>
        {% endif %}
        {% if site.author.facebook %}
            <li title="Follow me on Facebook.">
                <div class="round-button facebook">
                    <a itemprop="sameAs" href="https://www.facebook.com/{{ site.author.facebook }}" target="_blank">
                        <div class="icon">{% include icon/social/facebook.svg %}</div>
                    </a>
                </div>
            </li>
        {% endif %}
        {% if site.author.twitter %}
            <li title="Follow me on Twitter.">
                <div class="round-button twitter">
                    <a itemprop="sameAs" href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
                        <div class="icon">{% include icon/social/twitter.svg %}</div>
                    </a>
                </div>
            </li>
        {% endif %}
        {% if site.author.googleplus %}
            <li title="Follow me on Google+.">
                <div class="round-button googlepluse">
                    <a itemprop="sameAs" href="https://plus.google.com/u/0/{{ site.author.googleplus }}" target="_blank">
                        <div class="icon">{% include icon/social/googleplus.svg %}</div>
                    </a>
                </div>
            </li>
        {% endif %}
        {% if site.author.github %}
            <li title="Follow me on Github.">
                <div class="round-button github">
                    <a itemprop="sameAs" href="https://github.com/{{ site.author.github }}" target="_blank">
                        <div class="icon">{% include icon/social/github.svg %}</div>
                    </a>
                </div>
            </li>
        {% endif %}
        {% if site.author.linkedin %}
            <li title="Follow me on Linkedin.">
                <div class="round-button linkedin">
                    <a itemprop="sameAs" href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
                        <div class="icon">{% include icon/social/linkedin.svg %}</div>
                    </a>
                </div>
            </li>
        {% endif %}
        {% if site.author.douban %}
            <li title="Follow me on Douban.">
                <div class="round-button douban">
                    <a itemprop="sameAs" href="https://www.douban.com/people/{{ site.author.douban }}" target="_blank">
                        <div class="icon">{% include icon/social/douban.svg %}</div>
                    </a>
                </div>
            </li>
        {% endif %}
    </ul>
    {% if site.author.email %}
        <p class="email">
            <a title="Send me Email." href="mailto:{{ site.email }}" target="_self"> {{ site.author.email }} </a>
        </p>
    {% endif %}
</div>
