<div class="follow-me">
  {%- assign __locale = site.data.locale.FOLLOW_ME -%}
  {%- include snippets/locale-to-string.html -%}
  <ul itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{ site.author.name }}">
    <link itemprop="url" href="{{ '/' | prepend: site.url }}">
    {%- if site.author.weibo -%}
      <li title="{{ __return | replace: '[NAME]', 'Weibo' }}">
        <div class="floating-action-round-button weibo">
          <a itemprop="sameAs" href="https://weibo.com/{{ site.author.weibo }}" target="_blank">
            <div class="icon">{%- include icon/social/weibo.svg -%}</div>
          </a>
        </div>
      </li>
    {%- endif -%}
    {%- if site.author.facebook -%}
      <li title="{{ __return | replace: '[NAME]', 'Facebook' }}">
        <div class="floating-action-round-button facebook">
          <a itemprop="sameAs" href="https://www.facebook.com/{{ site.author.facebook }}" target="_blank">
            <div class="icon">{%- include icon/social/facebook.svg -%}</div>
          </a>
        </div>
      </li>
    {%- endif -%}
    {%- if site.author.twitter -%}
      <li title="{{ __return | replace: '[NAME]', 'Twitter' }}">
        <div class="floating-action-round-button twitter">
          <a itemprop="sameAs" href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
            <div class="icon">{%- include icon/social/twitter.svg -%}</div>
          </a>
        </div>
      </li>
    {%- endif -%}
    {%- if site.author.googleplus -%}
      <li title="{{ __return | replace: '[NAME]', 'Google+' }}">
        <div class="floating-action-round-button googlepluse">
          <a itemprop="sameAs" href="https://plus.google.com/u/0/{{ site.author.googleplus }}" target="_blank">
            <div class="icon">{%- include icon/social/googleplus.svg -%}</div>
          </a>
        </div>
      </li>
    {%- endif -%}
    {%- if site.author.github -%}
      <li title="{{ __return | replace: '[NAME]', 'Github' }}">
        <div class="floating-action-round-button github">
          <a itemprop="sameAs" href="https://github.com/{{ site.author.github }}" target="_blank">
            <div class="icon">{%- include icon/social/github.svg -%}</div>
          </a>
        </div>
      </li>
    {%- endif -%}
    {%- if site.author.linkedin -%}
      <li title="{{ __return | replace: '[NAME]', 'Linkedin' }}">
        <div class="floating-action-round-button linkedin">
          <a itemprop="sameAs" href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
            <div class="icon">{%- include icon/social/linkedin.svg -%}</div>
          </a>
        </div>
      </li>
    {%- endif -%}
    {%- if site.author.douban -%}
      <li title="{{ __return | replace: '[NAME]', 'Douban' }}">
        <div class="floating-action-round-button douban">
          <a itemprop="sameAs" href="https://www.douban.com/people/{{ site.author.douban }}" target="_blank">
            <div class="icon">{%- include icon/social/douban.svg -%}</div>
          </a>
        </div>
      </li>
    {%- endif -%}
  </ul>
  {%- if site.author.email -%}
  {%- assign __locale = site.data.locale.EMAIL_ME -%}
  {%- include snippets/locale-to-string.html -%}
    <p class="email">
      <a title="{{ __return }}" href="mailto:{{ site.author.email }}" target="_self">{{ site.author.email }}</a>
    </p>
  {%- endif -%}
</div>
