{%- include snippets/page-title.html -%}
<script>
  (function() {
    function queryString() {
      // This function is anonymous, is executed immediately and
      // the return value is assigned to QueryString!
      var i = 0,
        queryObj = {},
        pair;
      var queryStr = window.location.search.substring(1);
      var queryArr = queryStr.split('&');
      for (i = 0; i < queryArr.length; i++) {
        pair = queryArr[i].split('=');
        // If first entry with this name
        if (typeof queryObj[pair[0]] === 'undefined') {
          queryObj[pair[0]] = pair[1];
          // If second entry with this name
        } else if (typeof queryObj[pair[0]] === 'string') {
          queryObj[pair[0]] = [queryObj[pair[0]], pair[1]];
          // If third or later entry with this name
        } else {
          queryObj[pair[0]].push(pair[1]);
        }
      }
      return queryObj;
    }

    window.Lazyload.js('{{ site.data.variables.sources.jquery }}', function() {
      var $pageHeading = $('.js-page-heading');
      var $tags = $('.js-tags');
      var $articleTag = $('.js-article-tag');
      var $tagShowAll = $('.js-tag-show-all');
      var $postBlock = $('.js-post-block');
      var $yearSection = $('.js-year-wrapper section');

      $tags.on('click', 'button', function() {
        tagSelect($(this).data('tag'));
      });

      function tagSelect(tag) {
        var i = 0,
          flag = false,
          cur, tagStr = '',
          tags = [],
          _tag = '',
          lis = [];
        if (tag === undefined || tag === '') {
          $pageHeading.text('{{ __return }}');
          $tagShowAll.focus();
          $postBlock.show();
        } else {
          tag = tag.trim();
          // $articleTag.filter('.tag-' + tag).focus();
          for (i = 0; i < $articleTag.length; i++) {
            cur = $articleTag.eq(i);
            _tag = cur.data('tag');
            if (typeof _tag === 'string' && _tag.trim() === tag) {
              cur.focus();
              tagStr = cur.children('span').text();
              (typeof tagStr === 'string') && (tagStr = tagStr.trim());
              $pageHeading.text('Tag: ' + tagStr);
              break;
            }
          }
          $postBlock.each(function() {
            flag = false;
            cur = $(this);
            tags = cur.data('tag').split(',');
            for (i = 0; i < tags.length; i++) {
              _tag = tags[i].trim();
              if (_tag === tag) {
                flag = true;
                cur.show();
                break;
              }
            }
            flag || (cur.hide());
          });
        }
        $yearSection.each(function() {
          flag = false;
          cur = $(this);
          lis = cur.find('li');
          for (i = 0; i < lis.length; i++) {
            if (lis.eq(i).css('display') !== 'none') {
              flag = true;
              break;
            }
          }
          flag ? cur.show() : cur.hide();
        });
        tag === undefined || window.history.replaceState(null, '', window.location.href.split('?')[0] + '?tag=' + tag);
      }

      var query = queryString(),
        tag = undefined;
      query.tag === undefined || (tag = query.tag);
      tagSelect(tag);
    });
  })();
</script>
