{%- include snippets/page-title.html -%}
{%- assign _title = __return -%}
{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
{%- assign __path = '/search.json' -%}
{%- include snippets/prepend-baseurl.html -%}
{%- assign _search_path = __return -%}
<script>
  (function() {
    function queryString() {
      // This function is anonymous, is executed immediately and
      // the return value is assigned to QueryString!
      var i = 0,
        queryObj = {},
        pair;
      var queryStr = window.location.search.substring(1);
      var queryArr = queryStr.split('&');
      for (i = 0; i < queryArr.length; i++) {
        pair = queryArr[i].split('=');
        // If first entry with this name
        if (typeof queryObj[pair[0]] === 'undefined') {
          queryObj[pair[0]] = pair[1];
          // If second entry with this name
        } else if (typeof queryObj[pair[0]] === 'string') {
          queryObj[pair[0]] = [queryObj[pair[0]], pair[1]];
          // If third or later entry with this name
        } else {
          queryObj[pair[0]].push(pair[1]);
        }
      }
      return queryObj;
    }

    function decodeUrl(str) {
      return str ? decodeURIComponent(str.replace(/\+/g, '%20')) : '';
    }

    function searchByTag(data, tag) {
      var i, j, cur, _tags, _tag, _data = {};
      Object.keys(data).forEach(function(year) {
        for (i = 0; i < data[year].length; i++) {
          cur = data[year][i], _tags = cur.tags;
          if (_tags && _tags.length > 0) {
            for (j = 0; j < _tags.length; j++) {
              _tag = _tags[j];
              if (_tag === tag) {
                if (!_data[year]) {
                  _data[year] = []
                }
                _data[year].push(cur);
                break;
              }
            }
          }
        }
      });
      return _data;
    }

    function initData(json) {
      var _data = JSON.parse(json), i, j, cur, _tags;
      Object.keys(_data).forEach(function(year) {
        for (i = 0; i < _data[year].length; i++) {
          cur = _data[year][i], _tags = cur.tags;
          cur.title = decodeUrl(cur.title);
          if (_tags && _tags.length > 0) {
            for (j = 0; j < _tags.length; j++) {
              _tags[j] = decodeUrl(_tags[j]);
            }
          }
        }
      });
      return _data;
    }

    var data = initData('{%- include scripts/data.html -%}')

    window.Lazyload.js('{{ _sources.jquery }}', function() {
      var $tags = $('.js-tags');
      var $articleTags = $('.js-article-tag');
      var $tagShowAll = $('.js-tag-show-all');
      var $result = $('.js-result');
      var $lastFocusButton = null;
      function renderHeading(year) {
        return '<h2 class="year">' + year + '</h2>'
      }
      function renderItem(title, date, url, tags) {
        return '<li><span class="date">' + date + '</span><a class="link" href="' + url + '">' + title + '</a><li>';
      }
      function render(data) {
        var html = '', i, cur, date;
        Object.keys(data).sort(function(a, b) {
          return b.localeCompare(a);
        }).forEach(function(year) {
          html = html.concat('<section>' + renderHeading(year) + '<ul>');
          for (i = 0; i < data[year].length; i++) {
            cur = data[year][i];
            html = html.concat(renderItem(cur.title, cur.date, cur.url, cur.tags));
          }
          html = html.concat('</ul></section>');
        })
        return html;
      }
      function tagSelect(tag, target) {
        var _data;
        if (tag === '' || tag === undefined) {
          _data = data;
        } else {
          _data = searchByTag(data, tag);
        }
        $result.html(render(_data));
        if (target && target.data) {
          buttonFoucs(target);
          window.history.replaceState(null, '', window.location.href.split('?')[0] + '?tag=' + target.data('encode'));
        }
      }

      function searchButtonsByTag(rawTag) {
        if (!rawTag) {
          return $tagShowAll;
        }
        var _buttons = $articleTags.filter('[data-encode="' + rawTag + '"]');
        if (_buttons.length === 0) {
          return $tagShowAll;
        }
        return _buttons;
      }

      function buttonFoucs(target) {
        if (target) {
          target.addClass('focus');
          $lastFocusButton && $lastFocusButton.removeClass('focus');
          $lastFocusButton = target;
        }
      }

      $articleTags.removeClass('inactive');
      var query = queryString(), rawTag;
      query.tag === undefined || (rawTag = query.tag);
      tagSelect(decodeUrl(rawTag));
      buttonFoucs(searchButtonsByTag(rawTag));

      $tags.on('click', 'button', function() {
        tagSelect($(this).children('span').text(), $(this));
      });

    });
  })();
</script>
