{%- assign _toc_selectors = site.toc.selectors | default: site.data.variables.default.toc.selectors -%}
{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
<script>
  window.Lazyload.js('{{ _sources.jquery }}', function() {
    var $window = $(window);
    var $pageStage = $('.js-page-stage');
    var $pageMain = $('.js-main');
    var $pageFooter = $('.js-page-footer');
    var $articleContent = $('.js-article-content');
    var $articleAside = $('.js-article-aside');
    var $toc = $('.js-toc');
    var $col2 = $('.js-col-2');
    var hasTitle = $articleContent.find('{{ _toc_selectors }}').length > 0;
    function asideSticky() {
      return $col2.css('display') !== 'none' && $pageStage.hasClass('has-toc');
    }
    function setTocClass() {
      if (hasTitle) {
        !$pageStage.hasClass('has-toc') && $pageStage.addClass('has-toc');
      }
    }
    function setAsideTOC() {
      var asideTop, asideLeft, scrollBottom, asideBottomTop, lastScrollTop;
      function init() {
        var asideOffset = $articleAside.offset();
        var footerOffset = $pageFooter.offset();
        var mainOffset = $pageMain.offset();
        asideTop = mainOffset.top;
        asideHeight = $toc.outerHeight() + parseInt($articleAside.css('padding-top'), 10) + parseInt($articleAside.css('padding-bottom'), 10);
        asideLeft = mainOffset.left + $pageMain.outerWidth() - $articleAside.outerWidth() - parseInt($pageMain.css('padding-right'), 10);
        scrollBottom = footerOffset.top - asideHeight;
        asideBottomTop = scrollBottom - mainOffset.top;
      }
      function setAside(force) {
        force !== true && (force = false);
        var scrollTop = $window.scrollTop();
        if (scrollTop >= asideTop && scrollTop <= scrollBottom) {
          (!force && lastScrollTop >= asideTop && lastScrollTop <= scrollBottom) ||
          $articleAside.addClass('fixed').css({
            left: asideLeft + 'px',
            top: 0
          });
        } else if (scrollTop < asideTop) {
          (!force && lastScrollTop < asideTop) ||
          $articleAside.removeClass('fixed').css({
            left: 0,
            top: 0
          });
        } else {
          (!force && lastScrollTop > scrollBottom) ||
          $articleAside.removeClass('fixed').css({
            left: 0,
            top: asideBottomTop + 'px'
          });
        }
        lastScrollTop = scrollTop;
      }
      asideSticky() && (init(), setAside());
      $window.on('scroll', function() {
        asideSticky() && setAside();
      });
      $window.on('resize', window.throttle(function() {
        setTocClass();
        asideSticky() && (init(), setAside(true));
      }, 100));
      setTimeout(init, 4000);
    }
    function toc() {
      var $tocUl = $('<ul></ul>'), $tocLi, $headings = $articleContent.find('{{ _toc_selectors }}'), headingsTop = [],
        scrolling, activeLast, activeCur, rendered = false;
      function init() {
        $headings.each(function() {
          headingsTop.push(Math.floor($(this).offset().top));
        });
      }
      function setActiveHeading(element, disabled) {
        var scrollTop = $window.scrollTop(), i;
        if (disabled || headingsTop.length < 1) { return; }
        if (element) {
          activeCur = element;
        } else {
          for (i = 0; i < headingsTop.length; i++) {
            if (scrollTop >= headingsTop[i]) {
              activeCur = $tocLi.eq(i);
            } else {
              activeCur || (activeCur = $tocLi.eq(i));
              break;
            }
          }
        }
        activeLast && activeLast.removeClass('toc-active');
        (activeLast = activeCur).addClass('toc-active');
      }
      function render() {
        $toc.append($tocUl);
        $headings.each(function() {
          var $this = $(this);
          $tocUl.append($('<li></li>').addClass('toc-' + $this.prop("tagName").toLowerCase())
            .append($('<a></a>').text($this.text()).attr('href', '#' + $this.prop('id'))));
        });
        $tocLi = $tocUl.children('li');
        $tocUl.on('click', 'a', function(e) {
          e.preventDefault();
          var $this = $(this);
          scrolling = true;
          setActiveHeading($this.parent());
          window.scrollTopAnchor($this.attr('href'), function() {
            scrolling = false;
          });
        });
        rendered = true;
      }
      asideSticky() && (render(), $window.on('load', function() {
        setTimeout(function() {
          init();
          setActiveHeading(null, scrolling);
        }, 1000);
      }));
      $window.on('resize', window.throttle(function() {
        if (asideSticky()) {
          rendered || render();
          init();
          setActiveHeading(null, scrolling);
        }
      }));
      $window.on('scroll', function() {
        asideSticky() && setActiveHeading(null, scrolling);
      });
    }
    setTocClass();
    toc();
    setTimeout(function() {
      setAsideTOC();
    }, 1000);
  });

  {%- if page.key and site.leancloud.app_id and site.leancloud.app_key and site.leancloud.app_class and jekyll.environment != "development" -%}
  window.Lazyload.js(['{{ _sources.jquery }}', '{{ _sources.leancloud_js_sdk }}'], function() {
    AV.init({
      appId: '{{ site.leancloud.app_id }}',
      appKey: '{{ site.leancloud.app_key }}'
    });
    var query = new AV.Query('{{ site.leancloud.app_class }}');
    query.equalTo('key', '{{ page.key }}');
    query.first().then(function(result) {
      if (result) {
        addOne(result)
      } else {
        var Blog = AV.Object.extend('{{ site.leancloud.app_class }}');
        var blog = new Blog();
        blog.set('title', '{{ page.title }}');
        blog.set('key', '{{ page.key }}');
        blog.set('views', 0);
        blog.save().then(function(page) {
          addOne(page)
        }, function(error) {
          if (error) {
            throw error;
          }
        });
      }

      function addOne(page) {
        page.increment('views', 1);
        page.save(null, {
          fetchWhenSave: true
        }).then(function(page) {
          $("#post-key-{{ page.key }}").text(page.attributes.views);
        }, function(error) {
          if (error) {
            throw error;
          }
        });
      }
    }, function(error) {
      if (error) {
        throw error;
      }
    });
  });
  {%- endif -%}
</script>