{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}

<script>
  (function() {
    var TEXT_VARIABLES = {
      sources: {
        font_awesome: '{{ _sources.font_awesome }}',
        jquery: '{{ _sources.jquery }}',
        leancloud_js_sdk: '{{ _sources.leancloud_js_sdk }}',
        chart: '{{ _sources.chart }}',
        gitalk: {
          js: '{{ _sources.gitalk.js }}',
          css: '{{ _sources.gitalk.css }}'
        },
        mathjax: '{{ _sources.mathjax }}',
        mermaid: '{{ _sources.mermaid }}'
      },
      site: {
        toc: {
          selectors: '{{ site.toc.selectors | default: site.data.variables.default.toc.selectors }}'
        }
      }
    };
    window.TEXT_VARIABLES = TEXT_VARIABLES;
  })();
</script>