@mixin button() {
  display: inline-block;
  font-weight: map-get($button, font-weight);
  line-height: 1 !important; /* stylelint-disable-line declaration-no-important */
  text-decoration: none !important; /* stylelint-disable-line declaration-no-important */
  cursor: pointer;
  outline: none;
  @include user-select(none);
  svg {
    width: 1rem;
    height: 1rem;
  }
  @include disabled() {
    cursor: not-allowed;
  }
}

.button {
  @include button();
}

.button--primary {
  @include clickable-new(
    ("text-color-1": map-get($default, text-color-1)), ("main-color-1": map-get($default, main-color-1))
  );
}

.button--secondary {
  @include clickable-new(
    ("text-color-3": map-get($default, text-color-3)), ("main-color-3": map-get($default, main-color-3))
  );
}

.button--success {
  @include clickable-new(
    ("text-color-function": map-get($default, text-color-function)), ("green": map-get($default, green))
  );
}

.button--info {
  @include clickable-new(
    ("text-color-function": map-get($default, text-color-function)), ("blue": map-get($default, blue))
  );
}

.button--warning {
  @include clickable-new(
    ("text-color-function": map-get($default, text-color-function)), ("yellow": map-get($default, yellow))
  );
}

.button--error {
  @include clickable-new(
    ("text-color-function": map-get($default, text-color-function)), ("red": map-get($default, red))
  );
}

.button--theme-light {
  @include clickable-new(
    ("text-color-theme-dark": map-get($default, text-color-theme-dark)), ("main-color-theme-light": map-get($default, main-color-theme-light))
  );
}

.button--theme-dark {
  @include clickable-new(
    ("text-color-theme-light": map-get($default, text-color-theme-light)), ("main-color-theme-dark": map-get($default, main-color-theme-dark))
  );
}

.button--outline-primary {
  border: 1px solid;
  @include css-var(border-color, "var(--main-color-1)");
  @include clickable-new(
    ("main-color-1": map-get($default, main-color-1)), null,
    ("text-color-1": map-get($default, text-color-1)), ("main-color-1-hover": map-get($default, main-color-1-hover))
  );
}

.button--outline-secondary {
  border: 1px solid;
  @include css-var(border-color, "var(--main-color-3)");
  @include clickable-new(
    ("main-color-3": map-get($default, main-color-3)), null,
    ("text-color-3": map-get($default, text-color-3)), ("main-color-3-hover": map-get($default, main-color-3-hover))
  );
}

.button--outline-success {
  border: 1px solid;
  @include css-var(border-color, "var(--green-color)");
  @include clickable-new(
    ("green": map-get($default, green)), null,
    ("text-color-function": map-get($default, text-color-function)), ("green-hover": map-get($default, green-hover))
  );
}

.button--outline-info {
  border: 1px solid;
  @include css-var(border-color, "var(--blue-color)");
  @include clickable-new(
    ("blue": map-get($default, blue)), null,
    ("text-color-function": map-get($default, text-color-function)), ("blue-hover": map-get($default, blue-hover))
  );
}

.button--outline-warning {
  border: 1px solid;
  @include css-var(border-color, "var(--yellow-color)");
  @include clickable-new(
    ("yellow": map-get($default, yellow)), null,
    ("text-color-function": map-get($default, text-color-function)), ("yellow-hover": map-get($default, yellow-hover))
  );
}

.button--outline-error {
  border: 1px solid;
  @include css-var(border-color, "var(--red-color)");
  @include clickable-new(
    ("red": map-get($default, red)), null,
    ("text-color-function": map-get($default, text-color-function)), ("red-hover": map-get($default, red-hover))
  );
}

.button--outline-theme-light {
  border: 1px solid;
  @include css-var(border-color, "var(--main-color-theme-light)");
  @include clickable-new(
    ("main-color-theme-light": map-get($default, main-color-theme-light)), null,
    ("text-color-theme-dark": map-get($default, text-color-theme-dark)), ("main-color-theme-light-hover": map-get($default, main-color-theme-light-hover))
  );
}

.button--outline-theme-dark {
  border: 1px solid;
  @include css-var(border-color, "var(--main-color-theme-dark)");
  @include clickable-new(
    ("main-color-theme-dark": map-get($default, main-color-theme-dark)), null,
    ("text-color-theme-light": map-get($default, text-color-theme-light)), ("main-color-theme-dark-hover": map-get($default, main-color-theme-dark-hover))
  );
}

.button--pill {
  border-radius: map-get($button, pill-radius);
  @extend .button--md;
}

.button--rounded {
  border-radius: map-get($base, border-radius);
  @extend .button--md;
}

.button--circle {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  border-radius: 50%;
  @extend .button--md;
}

.button--md {
  padding: map-get($button, padding-y) map-get($button, padding-x);
  font-size: map-get($base, font-size);
  &.button--circle {
    width: map-get($button, circle-diameter);
    height: map-get($button, circle-diameter);
  }
}

.button--xs {
  padding: map-get($button, padding-y-xs) map-get($button, padding-x-xs);
  font-size: map-get($base, font-size-xs);
  &.button--circle {
    width: map-get($button, circle-diameter-xs);
    height: map-get($button, circle-diameter-xs);
  }
}

.button--sm {
  padding: map-get($button, padding-y-sm) map-get($button, padding-x-sm);
  font-size: map-get($base, font-size-sm);
  &.button--circle {
    width: map-get($button, circle-diameter-sm);
    height: map-get($button, circle-diameter-sm);
  }
}

.button--lg {
  padding: map-get($button, padding-y-lg) map-get($button, padding-x-lg);
  font-size: map-get($base, font-size-lg);
  &.button--circle {
    width: map-get($button, circle-diameter-lg);
    height: map-get($button, circle-diameter-lg);
  }
}

.button--xl {
  padding: map-get($button, padding-y-xl) map-get($button, padding-x-xl);
  font-size: map-get($base, font-size-xl);
  &.button--circle {
    width: map-get($button, circle-diameter-xl);
    height: map-get($button, circle-diameter-xl);
  }
}
