.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: map-get($z-index, modal);
  display: none;
  width: 100%;
  height: 100%;
  color: $text-color-theme-dark;
  touch-action: none;
  background-color: $mask-color;
}

.modal--overflow {
  @include overflow(auto);
}

.modal--show {
  display: block;
}