///
// Skin: Chocolate
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #c68a45;
$text-color-1:     #fff;

$main-color-2:     #6e3e85;
$text-color-2:     #fff;

$main-color-3:     #7f5543;
$text-color-3:     #fff;

// background colors
$background-color: #efefef;
// text colors
$text-color-theme-light-d: rgba(#000, .95);
$text-color-theme-light:   rgba(#000, .85);
$text-color-theme-light-l: rgba(#000, .5);

$text-color-theme-dark-d:  #fff;
$text-color-theme-dark:    rgba(#fff, .95);
$text-color-theme-dark-l:  rgba(#fff, .85);

$text-color-d:     $text-color-theme-light-d;
$text-color:       $text-color-theme-light;
$text-color-l:     $text-color-theme-light-l;

$text-background-color: rgba(#000, .05);

// border and shadow colors
$border-color:     mix(#000, $background-color, 20%);
$border-color-l:   mix(#000, $background-color, 10%);
$decorate-color:   rgba(#000, .1);
$mask-color:       rgba(#000, .8);
$select-color:     rgba($main-color-3, .5);

// function colors
$green:           #57c22d;
$blue:            #2593fc;
$yellow:          #f8ac30;
$red:             #f22635;
$text-color-function: #fff;

// logo colors
$mail-color:       #0072c5;
$weibo-color:      #e6162d;
$facebook-color:   #4267b2;
$google-plus-color:#ea4335;
$twitter-color:    #1da1f2;
$douban-color:     #42bd56;
$github-color:     #000;
$linkedin-color:   #1074af;
