///
// Skin: Ocean
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #125c9f;
$text-color-1:     #fff;

$main-color-2:     #a5917f;
$text-color-2:     #fff;

$main-color-3:     #e1f5ff;
$text-color-3:     #00537f;

// page background
$background-color: #f5fcff;

// text colors
$text-color-theme-light-d: rgba(#000, .95);
$text-color-theme-light:   rgba(#000, .85);
$text-color-theme-light-l: rgba(#000, .5);

$text-color-theme-dark-d:  #fff;
$text-color-theme-dark:    rgba(#fff, .95);
$text-color-theme-dark-l:  rgba(#fff, .85);

$text-color-d:     $text-color-theme-light-d;
$text-color:       $text-color-theme-light;
$text-color-l:     $text-color-theme-light-l;

$text-background-color: rgba(#000, .05);

// header and footer colors
$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-3;
$footer-background: $main-color-3;

// border and shadow colors
$border-color:     #125c9f;
$border-color-l:   mix(#000, $background-color, 10%);
$decorate-color:   rgba(#000, .1);
$mask-color:       rgba(#000, .8);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #52c41a;
$blue:            #1890ff;
$yellow:          #fa8c16;
$red:             #f5222d;
$text-color-function: #fff;

// logo colors
$mail-color:       #0072c5;
$weibo-color:      #e6162d;
$facebook-color:   #4267b2;
$google-plus-color:#ea4335;
$twitter-color:    #1da1f2;
$douban-color:     #42bd56;
$github-color:     #000;
$linkedin-color:   #1074af;

// highlight colors
@import 'skins/highlight/tomorrow-night-blue';