.m-article-content {
  word-wrap: break-word;
  line-height: $article-line-height;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $content-gap * 2 0 $content-gap * .5 0;
  }
  h1,
  h2 {
    padding: 0 0 $base-font-size * .3 0;
    border: 0 dashed $border-color;
    border-bottom-width: 2px;
    margin-bottom: $content-gap;
  }
  p {
    margin: $content-gap 0;
  }
  blockquote {
    padding: 0 0 0 $spacing-unit / 2;
    border: 0 solid $border-color;
    border-left-width: 4px;
    margin: $content-gap 0;
    font-size: $small-font-size;
    color: $text-color-l;
    p {
      margin: $content-gap * .5 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  img:not(.emoji) {
    max-width: 100%;
    max-height: 600px;
    vertical-align: middle;
  }
  .emoji {
    display: inline-block;
    vertical-align: text-bottom;
    width: $base-font-size * $article-line-height * .7;
    height: $base-font-size * $article-line-height * .7;
  }
  code {
    @include round-rect($round-rect-radius, $base-font-size * .2 $base-font-size * .5);
    span {
      padding: 0;
      margin: 0;
    }
  }
  div.highlighter-rouge, figure, pre {
    margin: $content-gap 0;
  }
  code.language-mermaid {
    background-color: $background-color;
  }
  pre {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: $round-rect-radius;
    &>code {
      display: block;
      margin: 0;
      padding: $base-font-size * 1.5 $base-font-size $base-font-size * 1.3 $base-font-size;
      line-height: $code-line-height;
      word-wrap: normal;

    }
  }
  figure {
    &:before {
      content: attr(data-lang);
      display: block;
      border-top-left-radius: $round-rect-radius;
      border-top-right-radius: $round-rect-radius;
      padding: $base-font-size / 2 $base-font-size $base-font-size / 2 0;
      color: $decorate-color;
      font-weight: $bold-font-weight;
      font-size: $base-font-size;
      text-align: right;
      text-transform: uppercase;
    }
    &>pre {
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      &>code {
        padding-top: 0;
        &>.rouge-table {
          margin: 0;
          tbody, tr, td {
            border: none;
            padding-top: 0;
            padding-bottom: 0;
          }
          &>tbody {
            @include flexbox;
            &>tr {
              width: 100%;
              @include flexbox;
              &>.code {
                @include flexbox;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
              }
            }
          }
          tbody td>pre {
            margin: 0;
            border-radius: 0;
            &.lineno {
              color: $text-color-l;
              @include user-select(none);
            }
          }
        }
      }
    }
  }
  ul,
  ol {
    margin: $content-gap 0 $content-gap $spacing-unit;
    li {
      margin: 0;
      p {
        margin: 0;
      }
    }
  }
  dl {
    margin: $content-gap 0;
    dt,
    dd {
      margin: 0;
      p {
        margin: 0;
      }
    }
    dt {
      font-weight: $bold-font-weight;
    }
    dd {
      margin-left: $base-font-size * 2;
    }
  }
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: $content-gap 0;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid $border-color;
      padding: $base-font-size * .5;
    }
    thead,
    tbody {
      border: 1px solid $border-color;
    }
    tbody>tr:nth-child(even) {
      background-color: $text-background-color;
    }
  }
  hr {
    border: 0 dashed $border-color;
    border-top-width: 2px;
    margin: $base-font-size 0;
  }
}
