.m-article-content {
  .success {
    @include round-rect(.4rem, .5rem 1rem);
    background-color: mix($green, $background-color, 10%);
    border: 1px solid $green;
  }

  .info {
    @include round-rect(.4rem, .5rem 1rem);
    background-color: mix($blue, $background-color, 10%);
    border: 1px solid $blue;
  }

  .warning {
    @include round-rect(.4rem, .5rem 1rem);
    background-color: mix($yellow, $background-color, 10%);
    border: 1px solid $yellow;
  }

  .error {
    @include round-rect(.4rem, .5rem 1rem);
    background-color: mix($red, $background-color, 10%);
    border: 1px solid $red;
  }

  .shadow > img {
    @include box-shadow(3);
  }

  .border > img {
    border: 8px solid $border-color-l;
  }

  .rounded > img {
    border-radius: .4rem;
  }

  .circle > img {
    border-radius: 50%;
  }
}