.m-article-data {
  margin: $content-gap 0;
  .date-wrapper,
  .tag-wrapper,
  .view-wrapper {
    font-size: $small-font-size;
  }
  .tag-wrapper {
    float: left;
    margin: 0 $base-font-size / 4 0 0;
    @include media-query($on-palm) {
      float: none;
    }
  }
  .other-wrapper {
    float: right;
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    color: $text-color-l;
    margin: 0 0 0 $base-font-size * .6;
    @include media-query($on-palm) {
      float: none;
    }
  }
  .view-wrapper {
    line-height: 1;
    padding: 0 $base-font-size / 4 0 0;
    border: 0 solid rgba($text-color-l, .6);
    border-right-width: 1px;
    margin: 0 $base-font-size / 4 0 0;
  }
  .date-wrapper {
    margin: 0 $base-font-size 0 0;
  }
}
