.article__content {
  word-wrap: break-word;
  line-height: map-get($base, line-height-lg);
  @include block-elements() {
    margin: map-get($base, vertical-space-lg) 0;
  }
  @include heading-elements() {
    position: relative;
    margin-top: map-get($base, vertical-space-lg) * 1.5;
    & > .anchor {
      @include link-colors($border-color, $main-color-1);
      margin-left: .2rem;
      visibility: hidden;
      text-decoration: none;
      opacity: 0;
      & > i {
        font-size: map-get($base, font-size-sm);
      }
    }
    @include hover() {
      & > .anchor {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  h1,
  h2 {
    @include split-line(bottom);
  }
  hr {
    border: none;
    @include horizontal-rules();
  }
  blockquote {
    padding-left: 1rem;
    @include split-line(left, 4px, $border-color);
    font-size: map-get($base, font-size-sm);
    color: $text-color-l;
    p {
      margin: map-get($base, vertical-space) 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
  img:not(.emoji) {
    max-width: 100%;
    vertical-align: middle;
  }
  .emoji {
    display: inline-block;
    vertical-align: text-bottom;
    width: map-get($base, line-height-lg) * .7rem;
    height: map-get($base, line-height-lg) * .7rem;
  }
  .footnotes {
    @include split-line();
    margin-top: map-get($base, vertical-space-lg) * 2;
  }
  code {
    border-radius: map-get($base, border-radius);
    padding: .2rem .5rem;
    background-color: $text-background-color;
    span {
      padding: 0;
      margin: 0;
    }
  }
  pre {
    @include overflow(auto);
    & > code {
      padding: 0;
      background-color: transparent;
      word-wrap: normal;
      &.language-mermaid, &.language-chart {
        svg {
          width: 100%;
        }
        display: none;
        &[data-processed] {
          display: block;
        }
      }
    }
  }
  .highlighter-rouge > .highlight, figure.highlight {
    & > pre {
      border-radius: map-get($base, border-radius);
      padding: 1rem 0 1rem 1rem;
      margin: 0;
      background-color: $text-background-color;
      & > code {
        display: block;
      }
    }
  }
  figure.highlight {
    &:before {
      content: attr(data-lang);
      display: block;
      border-top-left-radius: map-get($base, border-radius);
      border-top-right-radius: map-get($base, border-radius);
      padding: .5rem 1rem .5rem 0;
      color: $decorate-color;
      background-color: $text-background-color;
      font-weight: map-get($base, font-weight-bold);
      text-align: right;
      text-transform: uppercase;
    }
    & > pre {
      padding-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      & > code {
        & > .rouge-table {
          width: auto;
          margin: 0 0 -1rem -1rem;
          tbody, tr, td {
            border: none;
            padding-top: 0;
            padding-bottom: 0;
          }
          & > tbody {
            @include flexbox;
            & > tr {
              width: 100%;
              @include flexbox;
              & > .code {
                padding: 0 0 1rem .5rem;
                @include overflow(auto);
              }
            }
          }
          tbody td {
            &.gl {
              padding-left: 1rem;
            }
            & > pre {
              border-radius: 0;
              display: block;
              @include overflow(auto);
              margin: 0;
              &.lineno {
                color: $text-color-l;
                @include user-select(none);
              }
            }
          }
        }
      }
    }
  }
  ul, ol {
    margin-left: 1.5rem;
    ul, ol {
      margin-top: 0;
      margin-bottom: 0;
    }
    li {
      p {
        margin: map-get($base, vertical-space);
      }
    }
  }
  dl {
    dt, dd {
      p {
        margin: map-get($base, vertical-space);
      }
    }
    dt {
      font-weight: map-get($base, font-weight-bold);
    }
    dd {
      margin-left: 2rem;
    }
  }
  ul.task-list {
    list-style-type: none;
    margin-left: 0;
    ul, ol {
      margin-left: 1.5rem;
    }
  }
  table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    @include overflow(auto);
    thead, tfoot {
      background-color: $text-background-color;
    }
    th, td {
      border: 1px solid $border-color-l;
      padding: .5rem;
    }
    th {
      font-weight: map-get($base, font-weight-bold);
    }
  }
}
