.m-article-data {
  margin: .8rem 0;
  .date-wrapper,
  .tag-wrapper,
  .view-wrapper {
    font-size: map-get($base, font-size-sub);
  }
  .tag-wrapper {
    float: left;
    margin: 0 .25rem 0 0;
    @include horizontal-space();
    @include media-breakpoint-down(s) {
      float: none;
    }
  }
  .other-wrapper {
    float: right;
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    color: $text-color-l;
    margin: 0 0 0 .6rem;
    @include media-breakpoint-down(s) {
      float: none;
    }
  }
  .view-wrapper {
    @include split-line(right);
    line-height: 1;
    padding: 0 .25rem 0 0;
    margin: 0 .25rem 0 0;
  }
  .date-wrapper {
    margin: 0 1rem 0 0;
  }
}
