.follow-me {
  text-align: center;
  &>ul {
    margin: 0;
  }
  .round-button {
    color: $text-color-1;
    .icon>svg path {
      fill: $text-color-1;
    }
    &:not(:last-child) {
      margin-right: $spacing-unit / 6;
    }
    @include link-background-colors ( $main-color-1, darken($main-color-1, 20%))
  }
  .mail {
    @include link-background-colors ( $mail-color, darken($mail-color, 20%))
  }
  .weibo {
    @include link-background-colors ( $weibo-color, darken($weibo-color, 20%))
  }
  .facebook {
    @include link-background-colors ( $facebook-color, darken($facebook-color, 20%))
  }
  .twitter {
    @include link-background-colors ( $twitter-color, darken($twitter-color, 20%))
  }
  .googlepluse {
    @include link-background-colors ( $google-plus-color, darken($google-plus-color, 20%))
  }
  .github {
    @include link-background-colors ( $github-color, lighten($github-color, 30%))
  }
  .linkedin {
    @include link-background-colors ( $linkedin-color, darken($linkedin-color, 20%))
  }
  .douban {
    @include link-background-colors ( $douban-color, darken($douban-color, 20%))
  }
}
