/**
 * Site Info
 */

.footer {
  @include flexbox();
  @include align-items(center);
  @include set-property-from-map(color, footer-text-color);
  @include set-property-from-map(background, footer-background);
  a {
    @include link-colors-new(
      ("footer-text-colo": map-get($default, footer-text-colo)), ("main-color-1": map-get($default, main-color-1))
    );
  }
  .site-info {
    font-size: map-get($base, font-size-xs);
    text-align: center;
    .menu {
      line-height: map-get($base, line-height-xs);
      & > * {
        &:not(:last-child) {
          @include split-line(right, default, (
            "footer-text-color": map-get($default, footer-text-color)
          ));
          padding-right: map-get($spacers, 1);
          margin-right: map-get($spacers, 1);
        }
      }
    }
  }
}
.footer__author-links {
  @include overflow(auto);
  .author-links {
    text-align: center;
  }
}
