/**
 * Site Info
 */

.footer {
  @include flexbox;
  @include align-items(center);
  background-color: $main-color-3;
  height: map-get($layout, footer-height);
  .follow-me {
    padding-top: 1rem;
  }
  p {
    color: $text-color-3;
  }
  a {
    @include link-colors ($text-color-3, $main-color-1);
  }
  .site-info {
    .menu {
      line-height: map-get($base, line-height-xs);
      & > * {
        &:not(:last-child) {
          @include split-line(right, default, $text-color-3);
          padding-right: .3rem;
          margin-right: .3rem;
        }
      }
    }
    text-align: center;
    font-size: map-get($base, font-size-xs);
    margin: 1rem auto 0 auto;
  }
}