/**
 * Site Info
 */

.footer {
  @include flexbox;
  @include align-items(center);
  background: $footer-background;
  height: map-get($layout, footer-height);
  .author-links {
    padding-top: 1rem;
  }
  p {
    color: $footer-text-color;
  }
  a {
    @include link-colors ($footer-text-color, $main-color-1);
  }
  .site-info {
    .menu {
      line-height: map-get($base, line-height-xs);
      & > * {
        &:not(:last-child) {
          @include split-line(right, default, $footer-text-color);
          padding-right: .3rem;
          margin-right: .3rem;
        }
      }
    }
    text-align: center;
    font-size: map-get($base, font-size-xs);
    margin: 1rem auto 0 auto;
  }
}