/**
 * Site Info
 */

.m-page-footer {
  @include flexbox;
  @include align-items(center);
  height: $footer-height;
  margin-top: -$footer-height;
  background-color: $main-color-3;
  p {
    color: $text-color-3;
  }
  a {
    @include link-text-colors ( $text-color-3, $main-color-1);
  }
  .site-info {
    text-align: center;
    font-size: $tiny-font-size;
    margin: 0 auto;
  }
}