.m-page-header {
  position: relative;
  a {
    font-weight: map-get($base, font-weight);
    @include link-text-colors( $text-color, $main-color-1);
  }
  .site-logo {
    display: inline-block;
    vertical-align: middle;
    width: map-get($base, font-size-h3) * 1.2;
    height: map-get($base, font-size-h3) * 1.2;
    &>svg {
      width: 100%;
      height: 100%;
    }
  }
  .site-title {
    display: inline-block;
    font-size: map-get($base, font-size-h3);
  }
  &>nav {
    display: block;
    float: right;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    ul {
      margin: 0;
      @include horizontal-space();
      &>li {
        margin: 0;
        &:not(:last-child) {
          margin: 0 1rem 0 0;
        }
      }
    }
    @include media-breakpoint-down(s) {
      float: none;
    }
  }
}
