.header {

  a {
    font-weight: map-get($base, font-weight);
    @include link-colors($text-color, $main-color-1, $main-color-1);
  }
  .active a {
    font-weight: map-get($base, font-weight-bold);
    @include link-colors($text-color-d, $main-color-1, $main-color-1);
  }
  & > .main > .logo {
    float: left;
    @include menu(3, 0);
    @include align-items(center);
    height: map-get($layout, header-height);
    & > svg {
      margin-right: .8rem;
      vertical-align: middle;
      width: map-get($base, font-size-h4) * 1.6;
      height: map-get($base, font-size-h4) * 1.6;
      @include media-breakpoint-down(sm) {
        margin-right: .5rem;
        width: map-get($base, font-size-h4) * 1.2;
        height: map-get($base, font-size-h4) * 1.2;
      }
    }
    & > a {
      display: inline-block;
      font-size: map-get($base, font-size-h4);
      @include media-breakpoint-down(sm) {
        font-size: map-get($base, font-size-h4-small);
      }
    }
    @include media-breakpoint-down(sm) {
      float: none;
      height: map-get($layout, header-height-sm);
    }
  }
  & > .main > nav {
    display: block;
    float: right;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    ul {
      margin: 0;
      @include menu(3, 2, nowrap);
      @include align-items(center);
      height: map-get($layout, header-height);
      @include media-breakpoint-down(sm) {
        height: auto;
      }
    }
    @include media-breakpoint-down(sm) {
      float: none;
    }
  }
}