.m-license {
  border-radius: $spacing-unit / 2;
  background-color: $text-background-color;
  box-shadow: $shadow-down;
  padding: $base-font-size / 2 $base-font-size;
  font-weight: $bold-font-weight;
  img {
    vertical-align: bottom;
  }
  .url {
    word-wrap: break-word;
  }
  .octocat {
    float: right;
    img {
      width: $spacing-unit * 2;
      height: auto;
      margin: 0 $spacing-unit / 3;
      border-width: 0;
      border-radius: $spacing-unit;
    }
  }
  .license {
    float: right;
    margin-left: $spacing-unit / 3;
  }
}
