.main {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: map-get($layout, content-max-width);
  @include media-breakpoint-down(lg) {
    padding: 0 1rem;
  }
  .main__title {
    & > h1 {
      font-weight: map-get($base, font-weight-bold);
    }
    margin-top: 2rem;
  }
}

.has-aside .main {
  max-width: map-get($layout, content-max-width) + map-get($layout, aside-width);
  @include media-breakpoint-down(lg) {
    max-width: map-get($layout, content-max-width);
    padding: 0 1rem;
  }
}