.m-pagination {
  &>ul {
    @include horizontal-space();
    @include align-items(center);
  }
  .round-button.cur {
    background-color: $main-color-1;
    border-color: $main-color-1;
    color: $text-color-1;
  }
  .omit {
    @include flexbox();
    & > svg {
      width: 1rem;
      height: 1rem;
      fill: $text-color-l
    }
  }
}
