.pagination {
  & > ul {
    @include menu();
    @include align-items(center);
  }
  .omit {
    @include flexbox();
    & > svg {
      width: 1rem;
      height: 1rem;
      fill: $text-color-l
    }
  }
}
