.m-toc {
  ul {
    display: block;
    list-style-type: none;
  }
  a {
    display: inline-block;
    font-size: $small-font-size;
    text-decoration: none;
    line-height: $toc-line-height;
    font-weight: $base-font-weight;
    @include round-rect($round-rect-radius, $base-font-size / 5 $base-font-size);
    @include link-emphasize-no-focus {
      background-color: $text-background-color;
    }
  }
  .toc-h1,
  .toc-h2 {
    padding: 0;
    a {
      color: $text-color-d;
      font-weight: $bold-font-weight;
    }
  }
  .toc-h3,
  .toc-h4,
  .toc-h5,
  .toc-h6 {
    a {
      color: $text-color;
      font-size: $tiny-font-size;
    }
  }
  .toc-h1,
  .toc-h2 {
    margin-top: $base-font-size * .6;
  }
  .toc-h3 {
    padding-left: $base-font-size * 1.5;
  }
  .toc-h4 {
    padding-left: $base-font-size * 3;
  }
  .toc-h5 {
    color: $text-color-l;
    padding-left: $base-font-size * 3;
  }
  .toc-h6 {
    color: $text-color-l;
    font-size: $tiny-font-size;
    padding-left: $base-font-size * 3;
  }
  .toc-active {
    a {
      background-color: $text-background-color;
      color: $main-color-1;
    }
  }
}
