.main {
  margin: 0 auto;
  padding: 0 $spacing-unit;
  max-width: $content-max-width;
  @include media-query($on-laptop) {
    padding: 0 $spacing-unit / 2;
  }
}

.has-toc .main {
  max-width: $content-max-width + $aside-width;
  @include media-query($on-laptop) {
    max-width: $content-max-width;
    padding: 0 $spacing-unit / 2;
  }
}

.inline-list {
  @include flexbox;
  @include flex-wrap(wrap);
  &>li {
    list-style-type: none;
    margin-top: $content-gap / 6;
    margin-bottom: $content-gap / 6;
    &:not(:last-child) {
      margin-right: $spacing-unit / 8;
    }
  }
}
