.main {
    margin: 0 auto;
    padding: 0 $spacing-unit;
    max-width: $content-max-width;
    @include media-query($on-laptop) {
        padding: 0 $spacing-unit / 2;
    }
}
.has-toc .main {
    max-width: $content-max-width + $aside-width;
    @include media-query($on-laptop) {
        max-width: $content-max-width;
        padding: 0 $spacing-unit / 2;
    }
}
.inline-list {
    & > li {
        display: inline-block;
        list-style-type: none;
        vertical-align: bottom;
        margin: $content-gap / 6 0;
    }
}
