---
layout: page
---
<section class="menu-principal">
    <section class="space-one">
       
    </section >
      
    <section class="space-two">
        <article class="main-section">
            <h3>Introduction</h3>
        </article>
        <article class="main-section-2">
            <p>Collaboration, decentralization and digital democracy: three keys to combat climate change. Welcome to the Decentralized Climate Foundation. </p>
        </article>

    </section >
    <section class="space-tree">
        <img src="/assets/images/about/deca-foundation.png" class="iconoImagen" alt="">
    </section>
</section>
<section class="menu-principal menu-fondo">

    <section class="space-tree">
        <img src="/assets/images/about/about-us.png" class="iconoImagen" alt="">
    </section>
    <section class="space-two">
        <article class="main-section">
            <h3 style="color: white;">About Us </h3>
        </article>
        <article class="main-section-2">
            <p>The Decentralized Climate Foundation (DCF) is a non-profit organization based in Mexico City which supports decentralization of environmental and social projects. We believe open governance of projects through  decentralization will provide transparency and trust.</p>
        </article>

    </section >
    <section class="space-one">
       
    </section >
</section>
<section class="menu-principal">
    <section class="space-one">
       
    </section >
      
    <section class="space-two">
        <article class="main-section">
            <h3>Mission</h3>
        </article>
        <article class="main-section-2">
            <p>The Decentralized Climate Foundation mission is to provide participation of individuals in climate change actions. The Foundation leads developments such as DECA, that allows individuals to participate in the voluntary carbon market & support the creation of a decentralized person-to-person carbon credit market, which will be converted in the future into a decentralized climate fund.</p>
        </article>

    </section >
    <section class="space-tree">
        <img src="/assets/images/about/our-mission.png" class="iconoImagen" alt="">
    </section>
</section>
    {{ content }}


     
