<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include head.html -%}
    <script>
      {%- include scripts/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
      {%- include scripts/common.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="layout--base-2-col clearfix js-layout-base-2-col">
      <div class="page__actions">
        <div class="button button--secondary button--circle box-shadow-2 js-sidebar-button">
          <i class="fas fa-bars icon--show"></i>
          <i class="fas fa-times icon--hide"></i>
        </div>
      </div>
      <div class="page__sidebar">
        {%- include sidebar.html -%}
      </div>
      <div class="page__main js-page-main">
        <div class="page__header">{%- include header.html -%}</div>
        <div class="page__content">{{ content }}</div>
        <div class="page__footer">{%- include footer.html -%}</div>
      </div>
    </div>
    <script>
      (function() {
        var SOURCES = window.TEXT_VARIABLES.sources;
        var TOC_SELECTOR = window.TEXT_VARIABLES.site.toc.selectors;
        window.Lazyload.js(SOURCES.jquery, function() {
          var $layoutBase2Col = $('.js-layout-base-2-col');
          var $sidebarButton = $('.js-sidebar-button');
          $sidebarButton.on('click', function() {
            $layoutBase2Col.toggleClass('show-sidebar');
          });
        });
      })();
    </script>
    {%- include markdown-enhancements.html -%}
    {%- include pageview.html -%}
    {%- include analytics.html -%}
  </body>
</html>
