<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include common-head.html -%}
    {%- include head-icons-rel.html -%}
    {%- assign __path = '/assets/css/blog.css' -%}
    {%- include snippets/prepend-baseurl.html -%}
    <link rel="stylesheet" href="{{ __return }}">
    <style>
    {%- if page.picture_frame == 'shadow' -%}
      .m-article-content img:not(.emoji) {
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
      }
    {%- endif -%}
    </style>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="m-page-stage js-page-stage">{{ content }}</div>
    {%- include blog/footer.html -%}
    <script>
      $(function() {
        // display coding language
        $(".highlight").each(function() {
          $(this).attr("data-lang", $(this).find("code").attr("data-lang"));
        });
      });
    </script>
    {%- include utils/mathjax.html -%}
    {%- include utils/mermaid.html -%}
    {%- if site.isdebug == false -%}
      {%- include utils/google-analytics.html -%}
    {%- endif -%}
  </body>
</html>
