---
layout: page
title: "Events and Calendar"
---
<section class="menu-principal-projects">


    <section class="space-two-projects">
        <article class="main-section">
            <h3>Events </h3>
        </article>
        <article class="main-section-2-projects">
            <p>
                 The Decentralized Climate Foundation is a free, community-based organization. We are in this together to help the planet. Check out our upcoming activities and events - join us!

            </p>
        </article>

    </section>

</section>

{{content}}