<!DOCTYPE html>
<html>
	<script type="text/x-mathjax-config">
	    MathJax.Hub.Config({
	      TeX: {
	        equationNumbers: {
	          autoNumber: "AMS"
	        }
	      },
	      tex2jax: {
	        inlineMath: [ ['$','$']],
	        displayMath: [ ['$$','$$'] ],
	        processEscapes: true,
	      }
	    });
  	</script>
  <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  {% include head.html %}

  <body>
  <div class="page">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include analytics.html %}
    </div>
  </body>

</html>
