---
layout: blog-base
---
<div class="m-post m-page-content">
    <div class="m-page-main">
        {% include blog/header.html %}
        <div class="main">
            <article itemscope itemtype="http://schema.org/BlogPosting">
                <meta itemprop="mainEntityOfPage" itemscope itemType="https://schema.org/WebPage"/>
                <header class="article-header">
                    <h1 itemprop="headline" class="article-title" itemprop="name headline">{{ page.title }}</h1>
                    {% include blog/article-data.html %}
                </header>

                <div class="m-article-content js-article-content" itemprop="articleBody">
                    {{ content }}
                </div>

                <footer>
                    {% if page.modify_date %}
                    <div class="article-meta">
                        Last updated
                        <time datetime="{{ page.modify_date | date_to_xmlschema }}" itemprop="dateModified">
                            {{ page.modify_date | date: "%b %-d, %Y" }}
                        </time>
                    </div>
                    {% else %}
                    <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
                    {% endif %}
                    <div class="article-license">
                        {% include blog/license.html %}
                    </div>
                </footer>
                {% if page.comment == null or page.comment == true %}
                <section>{% include utils/comment-disqus.html %}</section>
                {% endif %}
            </article>
        </div>
    </div>
    <aside class="m-article-aside">
        <div class="m-toc js-toc"></div>
    </aside>
</div>

<script src="//cdn.bootcss.com/toc/0.3.2/toc.min.js"></script>
<script type="text/javascript">
    $(function() {
        // toc //
        $(".js-toc").toc({
            'selectors': 'h1,h2,h3',
            'container': '.js-article-content',
        });
    });
</script>
{% if page.key != null and site.isdebug == false %}
    <script src="https://cdn1.lncld.net/static/js/av-min-1.2.1.js"></script>
    <script type="text/javascript">
        $(function() {
            // 初始化
            AV.init({
                appId: '{{ site.app_id }}',
                appKey: '{{ site.app_key }}'
            });
            // 查询
            var query = new AV.Query('{{ site.app_class }}');
            query.equalTo('key', '{{ page.key }}');
            query.first().then(function(result) {
                if (result) {
                    addOne(result)
                } else {
                    //新建
                    var Blog = AV.Object.extend('{{ site.app_class }}');
                    var blog = new Blog();
                    blog.set('title', '{{ page.title }}');
                    blog.set('key', '{{ page.key }}');
                    blog.set('views', 0);
                    blog.save().then(function(page) {
                        addOne(page)
                    }, function(error) {
                        if (error) {
                            throw error;
                        }
                    });
                }

                function addOne(page) {
                    page.increment('views', 1);
                    page.fetchWhenSave(true);
                    page.save().then(function(page) {
                        $("#post-key-{{ page.key }}").text(page.attributes.views);
                    }, function(error) {
                        if (error) {
                            throw error;
                        }
                    });
                }
            }, function(error) {
                if (error) {
                    throw error;
                }
            });
        });
    </script>
{% endif %}
