---
layout: page
title: "Develop / Maintenance projects"
---
<section class="menu-principal-projects">
   
      
    <section class="space-two-projects">
        <article class="main-section">
            <h3>DECA</h3>
        </article>
        <article class="main-section-2-projects">
            <p>The Decentralized Climate Foundation manages the organization, development and decision-making of DECA, a decentralized carbon-based economy.</br>
                The foundation oversees the operation of this economy in its transition towards decentralization and coordinates the free participation of citizens interested in supporting this project to fight climate change. 
            </br>
            As a citizen effort, the foundation enables DECA to build its own informed community, capable of making decisions on behalf of the environment. 
            </p>
        </article>

    </section >
   
</section>
<section class="menu-principal-projects">
   
      
    <section class="space-two-projects">
        <article class="main-section">
            <h3>Projects supported</h3>
        </article>
        <article class="main-section-2-projects">
            <p>More information coming soon... </p>
        </article>

    </section >
   
</section>
{{ content }}
