html {
  height: 100%;
  font-size: $root-font-size;
  background-color: $background-color;
}

body {
  height: 100%;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  ::-moz-selection {
    background: $select-color;
  }
  ::-webkit-selection {
    background: $select-color;
  }
  ::selection {
    background: $select-color;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin: .5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: $bold-font-weight;
}

h1 {
  font-size: $h1-font-size;
  color: $text-color-d;
  @include media-query($on-palm) {
    font-size: $h1-font-size-palm;
  }
}

h2 {
  font-size: $h2-font-size;
  color: $text-color-d;
  @include media-query($on-palm) {
    font-size: $h2-font-size-palm;
  }
}

h3 {
  font-size: $h3-font-size;
  color: $text-color-d;
}

h4 {
  font-size: $h4-font-size;
  color: $text-color;
}

h5 {
  font-size: $h5-font-size;
  color: $text-color;
}

h6 {
  font-size: $h6-font-size;
  color: $text-color-l;
}

pre, code {
  font-family: $code-font-family;
}

code {
  font-size: $code-font-size;
}

button {
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-width: 0;
}
