@font-face {
  font-family: "Sans";
  src: url("../../assets/fonts/Graphik-Regular-Web.eot");
  src: url("../../assets/fonts/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"),
       url("../../assets/fonts/Graphik-Regular-Web.woff") format("woff"),
       url("../../assets/fonts/Graphik-Regular-Web.ttf") format("truetype"),
       url("../../assets/fonts/Graphik-Regular-Web.svg#Graphik-Regular") format("svg");
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Sans";
  src: url("../../assets/fonts/Graphik-Medium-Web.eot");
  src: url("../../assets/fonts/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"),
       url("../../assets/fonts/Graphik-Medium-Web.woff") format("woff"),
       url("../../assets/fonts/Graphik-Medium-Web.ttf") format("truetype"),
       url("../../assets/fonts/Graphik-Medium-Web.svg#Graphik-Medium") format("svg");
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Sans";
  src: url("../../assets/fonts/Graphik-Semibold-Web.eot");
  src: url("../../assets/fonts/Graphik-Semibold-Web.eot?#iefix") format("embedded-opentype"),
       url("../../assets/fonts/Graphik-Semibold-Web.woff") format("woff"),
       url("../../assets/fonts/Graphik-Semibold-Web.ttf") format("truetype"),
       url("../../assets/fonts/Graphik-Semibold-Web.svg#Graphik-Medium") format("svg");
  font-style: normal;
  font-stretch: normal;
  font-weight: 800;
}