.layout--all {
  .site-tags {
    margin-bottom: map-get($base, vertical-space-lg) * 2;
    display: block;
  }

  .search-box {
    position: relative;
    max-width: 22rem;
    margin: map-get($base, vertical-space-lg) 0;
    @include media-breakpoint-down(md) {
      max-width: none;
      width: 100%;
    }
    & > input {
      border-radius: 2rem;
      padding: .2rem 1.8rem;
      @include transition(box-shadow map-get($animation, duration) map-get($animation, timing-function));
      -webkit-appearance: none; /* fix iOS don't display box-shadow properly */
      width: 100%;
      display: inline-block;
      border: none;
      margin: 0;
      background-color: $text-background-color;
      @include focus() {
        @include box-shadow();
      }
    }
    & > .icon-search, & > .icon-clear {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      display: inline-block;
      vertical-align: middle;
      font-size: map-get($base , font-size-sm);
    }
    &.not-empty > .icon-clear {
      display: block;
    }
    & > .icon-clear {
      display: none;
      right: .8rem;
      @include link-colors($text-color-l, $text-color-d);
    }
    & > .icon-search {
      left: .5rem;
    }
  }

  & > .layout--all__result {
    margin: map-get($base, vertical-space-lg) 0;
    section {
      &:not(:last-child) {
        padding: 0 0 .4rem 0;
      }
      .year {
        font-size: 1.6rem;
      }
      ul > li {
        list-style-type: none;
        margin: .4rem 0;
        .date {
          font-family: map-get($base, font-family-code);
          display: inline-block;
          font-size: map-get($base, font-size-sm);
          color: $text-color-l;
          padding: 0 1rem 0 0;
        }
        .link {
          font-size: 1rem;
          @include link-colors($text-color-d, $main-color-1, $main-color-1);
        }
      }
    }
  }
  &.search {
    & > .site-tags {
      display: none;
    }
    & > .layout--all__result {
      section {
        ul > li {
          .date {
            display: none;
          }
        }
      }
    }
  }

}
