.layout--base-2-col {
  height: 100%;

  .page__sidebar {
    display: block;
    width: 100%;
    max-width: map-get($layout, sidebar-width);
    float: left;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    background-color: $background-color;
    z-index: 1;
    @include split-line(right);
    @include transition(transform .4s);
  }
  .page__main {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }
  .page__actions {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    display: none;
    z-index: 999;
  }

  @include media-breakpoint-down(lg) {
    .page__sidebar {
      position: fixed;
      @include transform(translate(- map-get($layout, sidebar-width), 0));
    }

    .page__actions {
      display: block;
    }

    .icon--show {
      display: inline;
    }
    .icon--hide {
      display: none;
    }

    &.show-sidebar {
      .page__sidebar {
        @include transform(translate(0));
      }

      .icon--show {
        display: none;
      }
      .icon--hide {
        display: inline;
      }
    }
  }
}