.page__main {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.page__content {
  margin: 0 auto;
  padding-bottom: map-get($layout, footer-height);
}

.page__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
