.m-page-stage {
  box-sizing: border-box;
  min-height: 100%;
  overflow: auto;
  padding-bottom: map-get($layout, footer-height);
  @include animation(fade-in-down map-get($animation, duration) map-get($animation, timing-function));
}

.m-page-content {
  padding: 0;
  padding-bottom: 1.6rem;
  @include media-breakpoint-down(l) {
    padding-bottom: 0.8rem;
  }
}

.m-page-main {
  margin: 0 auto;
}
