.m-post-list {
    & > article {
    & > div {
      & > h1 {
        font-size: map-get($base, font-size-header-list);
        & > a {
          @include link-text-colors( $main-color-1, $main-color-1, $main-color-1);
        }
      }
    }
    & > h1 {
      font-size: map-get($base, font-size-header-list);
      & > a {
        @include link-text-colors( $text-color-d, $main-color-1, $main-color-1);
      }
    }
    & > a {
      font-size: map-get($base, font-size-sub);
    }
    padding-bottom: 1.3rem;
    margin: 2.6rem 0 1rem 0;
    &:not(:last-child) {
      @include split-line(bottom);
    }
  }
  .m-article-content {
    font-size: map-get($base, font-size-sub);
    line-height: map-get($base, line-height);
    @include block-elements() {
      margin-top: map-get($base, vertical-space);
      margin-bottom: map-get($base, vertical-space);
    }
    @include heading-elements() {
      margin-top: map-get($base, vertical-space) * 1.5;
    }

    h1,
    h2,
    h3 {
      color: $text-color;
    }
    h1,
    h2 {
      padding: 0;
      border: none;
    }
    h1 {
      font-size: map-get($base, font-size-h1-excerpt);
    }
    h2 {
      font-size: map-get($base, font-size-h2-excerpt);
    }
    h3 {
      font-size: map-get($base, font-size-h3-excerpt);
    }
    h4 {
      font-size: map-get($base, font-size-h4-excerpt);
    }
    h5 {
      font-size: map-get($base, font-size-h5-excerpt);
    }
    h6 {
      font-size: map-get($base, font-size-h6-excerpt);
    }
    img {
      max-height: 12rem;
    }
  }
  .m-top-blog {
     & > svg{margin-right: .2rem;vertical-align:middle;width:2.5rem;height:2.0rem; margin-top: 0.4rem;}
     display:-webkit-box;
     display:-webkit-flex;
     display:-moz-flex;
     display:-ms-flexbox;
     display:flex;-webkit-flex-wrap:wrap;
     -moz-flex-wrap:wrap;-ms-flex-wrap:wrap;
     flex-wrap:wrap;
     -webkit-box-align:center;
     -ms-flex-align:center;
     -webkit-align-items:center;
     -moz-align-items:center;
     align-items:center;
     height:5rem;
  }
}
