.layout--home {
  .post-list {
    & > article {
      & > h1, h2  {
        font-size: map-get($base, font-size-h3);
        & > a {
          @include link-colors($text-color-d, $main-color-1);
        }
      }
      & > a {
        font-size: map-get($base, font-size-sm);
      }
      padding-bottom: map-get($spacers, 4);
      margin-bottom: map-get($spacers, 4);
      &:not(:last-child) {
        @include split-line(bottom);
      }
    }
    .article__content {
      font-size: map-get($base, font-size-sm);
      line-height: map-get($base, line-height);
      @include block-elements() {
        margin-top: map-get($base, vertical-space);
        margin-bottom: map-get($base, vertical-space);
      }
      @include heading-elements() {
        margin-top: map-get($base, vertical-space) * 1.5;
      }

      h1,
      h2,
      h3 {
        color: $text-color;
      }
      h1,
      h2 {
        padding: 0;
        border: none;
      }
      h1 {
        font-size: map-get($base, font-size-h1-xs);
      }
      h2 {
        font-size: map-get($base, font-size-h2-xs);
      }
      h3 {
        font-size: map-get($base, font-size-h3-xs);
      }
      h4 {
        font-size: map-get($base, font-size-h4-xs);
      }
      h5 {
        font-size: map-get($base, font-size-h5-xs);
      }
      h6 {
        font-size: map-get($base, font-size-h6-xs);
      }
      img {
        max-height: 12rem;
      }
    }
    .post-list__readmore {
      font-size: map-get($base, font-size-sm);
    }
  }

  .pagination {
    margin: map-get($base, vertical-space-lg) 0;
    .pagination__omit {
      color: $text-color-l;
    }
  }
}