.layout--page {
  height: 100%;

  .page__grid {
    height: 100%;
  }

  .page__actions {
    position: fixed;
    bottom: map-get($spacers, 3);
    left: map-get($spacers, 3);
    z-index: map-get($z-index, actions);
    display: none;
  }

  .sidebar-button {
    @include clickable($text-color-d, rgba($main-color-3, .75));
  }

  .page__sidebar {
    z-index: map-get($z-index, sidebar);
    display: block;
    width: 80%;
    max-width: map-get($layout, sidebar-width);
    height: 100%;
    background-color: $background-color;
    @include split-line(right);
    @include transition(transform .4s);
    @include overflow(auto);
    .sidebar-toc {
      padding: map-get($spacers, 3) map-get($spacers, 3) map-get($spacers, 4) map-get($spacers, 4);
    }
  }

  .page__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($z-index, mask);
    display: none;
    cursor: pointer;
    background-color: $mask-color;
  }

  .page__main {
    height: 100%;
  }
  &.layout--page--sidebar {
    .page__main {
      @include overflow(auto);
    }
  }
  @include media-breakpoint-down(lg) {
    &.layout--page--sidebar {
      .page__main {
        @include overflow(unset);
      }
    }
    &.layout--page--sidebar.show-sidebar {
      .page__main {
        @include overflow(auto);
      }
    }
  }

  .page__main-inner {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    color: $text-color;
    background-color: $background-color;

    .col-aside {
      display: none;
      & > aside {
        position: absolute;
        width: map-get($layout, aside-width);
        overflow: hidden;
      }
    }
  }

  .page__content {
    padding-bottom: map-get($layout, footer-height);
    margin: 0 auto;
  }

  .page__comments {
    padding-bottom: map-get($base, vertical-space-lg);
  }

  .page__aside {
    .toc-aside {
      padding: map-get($spacers, 5) 0 map-get($spacers, 3) map-get($spacers, 5);
    }
  }

  .page__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .has-aside {
    .page__main-inner{
      .col-aside {
        position: relative;
        display: block;
        width: map-get($layout, aside-width);
        & > aside {
          &.fixed {
            position: fixed;
            -webkit-font-smoothing: subpixel-antialiased;
          }
        }
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .page__sidebar {
      position: fixed;
      @include transform(translate(- map-get($layout, sidebar-width), 0));
    }

    .page__actions {
      display: block;
    }

    &.show-sidebar {
      .page__sidebar {
        @include transform(translate(0));
      }
      .page__mask {
        display: block;
      }
    }
  }
  .page__search-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($z-index, search);
    display: none;
    color: $text-color-theme-dark;
    background-color: $mask-color;
    @include overflow(auto);
  }
  &.show-search-panel {
    .page__viewport {
      filter: blur(28px);
    }
    .page__main {
      @include overflow(hidden);
    }
    .page__search-panel {
      display: block;
    }
  }

  .hero--light {
    .article__info {
      color: $text-color-theme-light;
    }
  }
  .hero--dark {
    .article__info {
      color: $text-color-theme-dark;
    }
  }
}

.page__main--immersive {
  .page__header {
    position: absolute;
    width: 100%;
  }
  .hero__content {
    padding-top: map-get($layout, header-height);
  }
}