<form accept-charset="UTF-8" action="https://getform.io/f/621107b4-53cb-4c94-b741-4b983b9a606c" method="POST" enctype="multipart/form-data" target="_blank">
    <div class="form-group">
        <label for="InputEmail" required="required">Email address</label>
        <input type="email" name="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" required="required">
    </div>
    <div class="form-group">
        <label for="InputName">Name</label>
        <input type="text" name="name" class="form-control" id="InputName" placeholder="Enter your name" required="optional">
    </div>
    <div class="form-group">
        <label for="InputSubject">Subject</label>
        <input type="text" name="subject" class="form-control" id="InputSubject" placeholder="Enter subject" required="required">
    </div>

    <div class="form-group">
        <label for="InputMessage">Body</label>
        <textarea name="body" placeholder="Write something.." style="height:200px"></textarea>
    </div>
    <hr>
    <a class="button button--warning button--rounded"><button type="submit" class="btn btn-primary">Submit</button></a>
</form>
