$highlight-background   :#2d2d2d;
$highlight-foreground   :#cccccc;
$highlight-comment      :#999999;
$highlight-red          :#f2777a;
$highlight-orange       :#f99157;
$highlight-yellow       :#ffcc66;
$highlight-green        :#99cc99;
$highlight-aqua         :#66cccc;
$highlight-blue         :#6699cc;
$highlight-purple       :#cc99cc;