{
    "md_template_content": "", 
    "default_ext": ".txt", 
    "date_in_summary": "default", 
    "other_file_template_name": "none", 
    "folders_sort": "default", 
    "keep_repeated_n": false, 
    "summary_lines": 3, 
    "hide_ext": "no", 
    "save_sorts": true, 
    "editor_insert_image_template": "", 
    "editor_archive_type": "", 
    "home_title_type": "folder_name", 
    "new_file_template": "", 
    "title_type": "meta", 
    "editor_image_store_path": "/image/", 
    "md_injected_css": "", 
    "files_sort": "default"
}