/**
 * Reset some basic elements
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin: $base-font-size / 2 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
   ::-moz-selection {
    background: $select-color;
  }
   ::-webkit-selection {
    background: $select-color;
  }
   ::selection {
    background: $select-color;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-width: 0;
  font-size: $base-font-size;
}