%cursor-pointer {
  cursor: pointer;
}

%cursor-default {
  cursor: default;
}

%cursor-not-allowed {
  cursor: not-allowed;
}

a {
  font-weight: $bold-font-weight;
  text-decoration: none;
  @include link-normal {
    color: $main-color-1;
  }
  @include link-emphasize {
    text-decoration: underline;
    color: $main-color-1;
  }
  @include transition(all .8s ease 0s);
}

%button {
  font-weight: $bold-font-weight;
  line-height: 1;
  text-decoration: none;
  box-sizing: border-box;
  @extend %cursor-pointer;
  @include link-colors( $text-color-3, $main-color-3, $text-color-1, $main-color-1);
  @include link-normal {
    text-decoration: none;
  }
  @include link-emphasize {
    text-decoration: none;
  }
  @include transition(all .8s ease 0s);
  svg {
    width: $base-font-size;
    height: $base-font-size;
  }
}

%floating-action {
  box-shadow: $shadow-base;
  &:hover {
    box-shadow: $shadow-high;
  }
}

.round-button {
  @extend %button;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: $base-font-size * 2;
  height: $base-font-size * 2;
  border-radius: 50%;
}

.floating-action-round-button {
  @extend .round-button;
  @extend %floating-action;
}

.round-rect-button {
  @extend %button;
  display: block;
  padding: $base-font-size * .4 $base-font-size * .6;
  border-radius: $base-font-size * 2;
}
