body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: $bold-font-weight;
}

h1 {
  font-size: $h1-font-size;
  color: $text-color-d;
  @include media-query($on-palm) {
    font-size: $h1-font-size-palm;
  }
}

h2 {
  font-size: $h2-font-size;
  color: $text-color-d;
  @include media-query($on-palm) {
    font-size: $h2-font-size-palm;
  }
}

h3 {
  font-size: $h3-font-size;
  color: $text-color-d;
}

h4 {
  font-size: $h4-font-size;
  color: $text-color;
}

h5 {
  font-size: $h5-font-size;
  color: $text-color;
}

h6 {
  font-size: $h6-font-size;
  color: $text-color-l;
}

pre, code {
  font-family: $code-font-family;
}

code {
  font-size: $code-font-size;
}
