/**
 * Syntax highlighting styles
 */

 .highlight {
  .c { color: #8e908c } /* Comment */
  .err { color: #c82829 } /* Error */
  .k { color: #8959a8 } /* Keyword */
  .l { color: #f5871f } /* Literal */
  .n { color: #4d4d4c } /* Name */
  .o { color: #3e999f } /* Operator */
  .p { color: #4d4d4c } /* Punctuation */
  .cm { color: #8e908c } /* Comment.Multiline */
  .cp { color: #8e908c } /* Comment.Preproc */
  .c1 { color: #8e908c } /* Comment.Single */
  .cs { color: #8e908c } /* Comment.Special */
  .gd { color: #c82829 } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gh { color: #4d4d4c; font-weight: bold } /* Generic.Heading */
  .gi { color: #718c00 } /* Generic.Inserted */
  .gp { color: #8e908c; font-weight: bold } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #3e999f; font-weight: bold } /* Generic.Subheading */
  .kc { color: #8959a8 } /* Keyword.Constant */
  .kd { color: #8959a8 } /* Keyword.Declaration */
  .kn { color: #3e999f } /* Keyword.Namespace */
  .kp { color: #8959a8 } /* Keyword.Pseudo */
  .kr { color: #8959a8 } /* Keyword.Reserved */
  .kt { color: #eab700 } /* Keyword.Type */
  .ld { color: #718c00 } /* Literal.Date */
  .m { color: #f5871f } /* Literal.Number */
  .s { color: #718c00 } /* Literal.String */
  .na { color: #4271ae } /* Name.Attribute */
  .nb { color: #4d4d4c } /* Name.Builtin */
  .nc { color: #eab700 } /* Name.Class */
  .no { color: #c82829 } /* Name.Constant */
  .nd { color: #3e999f } /* Name.Decorator */
  .ni { color: #4d4d4c } /* Name.Entity */
  .ne { color: #c82829 } /* Name.Exception */
  .nf { color: #4271ae } /* Name.Function */
  .nl { color: #4d4d4c } /* Name.Label */
  .nn { color: #eab700 } /* Name.Namespace */
  .nx { color: #4271ae } /* Name.Other */
  .py { color: #4d4d4c } /* Name.Property */
  .nt { color: #3e999f } /* Name.Tag */
  .nv { color: #c82829 } /* Name.Variable */
  .ow { color: #3e999f } /* Operator.Word */
  .w { color: #4d4d4c } /* Text.Whitespace */
  .mf { color: #f5871f } /* Literal.Number.Float */
  .mh { color: #f5871f } /* Literal.Number.Hex */
  .mi { color: #f5871f } /* Literal.Number.Integer */
  .mo { color: #f5871f } /* Literal.Number.Oct */
  .sb { color: #718c00 } /* Literal.String.Backtick */
  .sc { color: #4d4d4c } /* Literal.String.Char */
  .sd { color: #8e908c } /* Literal.String.Doc */
  .s2 { color: #718c00 } /* Literal.String.Double */
  .se { color: #f5871f } /* Literal.String.Escape */
  .sh { color: #718c00 } /* Literal.String.Heredoc */
  .si { color: #f5871f } /* Literal.String.Interpol */
  .sx { color: #718c00 } /* Literal.String.Other */
  .sr { color: #718c00 } /* Literal.String.Regex */
  .s1 { color: #718c00 } /* Literal.String.Single */
  .ss { color: #718c00 } /* Literal.String.Symbol */
  .bp { color: #4d4d4c } /* Name.Builtin.Pseudo */
  .vc { color: #c82829 } /* Name.Variable.Class */
  .vg { color: #c82829 } /* Name.Variable.Global */
  .vi { color: #c82829 } /* Name.Variable.Instance */
  .il { color: #f5871f } /* Literal.Number.Integer.Long */
}